*/*.pyc
*.pyc
*.*~
data/*
.bash_history
.bash_profile
.bashrc
.cshrc
.login
.login_conf
.mail_aliases
.mailrc
.profile
.rhosts
.shrc
.ssh/*
imeter24/local_settings.py

.git/*
.ssh/*
.psql_history

manage.py
