{% extends "base.html" %}

{% block content %}
<div class="container-fluid main-body">
	<div class="row"  style="margin-top: 20px;">
	    <div class="col-md-10 col-md-offset-1">
	    	<div class="panel panel-primary">
				<div class="panel-heading">
			    	<h6>Edit Group</h6>
			  	</div>
			  	<form name="add-group" action="/group/edit/{{group.id}}/" method="POST">{% csrf_token %}
			  	<div class="panel-body">
			  		
				  	{% for field in group_form %}
<h5><p class="bg-info" style="padding:10px;">Update group {{field.label}}</p></h5>
				  		{{ field }}
				  		
				  	{% endfor %}
<h5><p class="bg-info" style="padding:10px;">Update group permissions</p></h5>
	
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

{% for perms in all_permissions %}
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{{ perms.app_label }}">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#{{ perms.app_label }}" aria-expanded="true" aria-controls="{{ perms.app_label }}">
          {{ perms.app_label }}
        </a>
      </h4>
    </div>
    <div id="{{ perms.app_label }}" class="panel-collapse collapse {% if forloop.first %} in {% endif %}" role="tabpanel" aria-labelledby="heading{{ perms.app_label }}">
      <div class="panel-body">
			
				{% for content_type in perms.content_type %}
					<li>{{content_type.name}}</li>
					{% for permission in content_type.permissions %}
						<input type="checkbox" class="permissions" name="permissions" value="{{permission.id}}" {% if permission in permissions %} checked="checked"{% endif %} class="form-control"> {{permission.codename}}
					{% endfor %}
				{% endfor %}

			
			</div>
	    </div>
	</div>
{% endfor %}
						
</div>
<button type="submit" class="btn btn-primary">Update</button>
</div>
				</form>
			</div>
	    	
		</div>
	</div>
</div>

<script type="text/javascript">
(function(){

	
	$("form[name='add-group']").on('submit', function(e){
		e.preventDefault();
		var permission_list = [];
		var group_name = $("#id_name").val();

		$('input.permissions[type=checkbox]').each(function(){
			if(this.checked){
				permission_list.push($(this).val());	
			}
			
		});
		url = $(this).attr("action");
		console.log(group_name);
		console.log(permission_list);
		$.ajax({
	    	type: "POST",
	    	url: url,
	    	data: {
				'selected_permissions': permission_list,
				'group_name': group_name,
			},
	    	success: function(data) {
	    		console.log("Success");
	    		alert("Group updated successfully");
	    	},
	    	error: function(errors) {
	    		console.log("errors");
	    	}
	    })
	});


})(jQuery)


</script>
{% endblock content %}