<form name="changepassword">
	<input type="hidden" name="userid" value="{{ uid }}">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">Change Password</h4>
	</div>
	<div class="modal-body">
		
		<div class="form-group">
			<label for="exampleInputPassword1">New Password</label>
			<input type="password" class="form-control" name="newpassword" id="exampleInputPassword1" placeholder="Type New Password">
			
		</div>
		
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-primary">Update Password</button>
	</div>
</form>

<script type="text/javascript">
(function(){
	$("form[name='changepassword']").on("submit", function(e){
		e.preventDefault();
		var form_data = $(this).serialize();
		console.log(form_data);
		$.ajax({
			type: "POST",
			url: "/scomuser/change/password/",
			data: form_data,
			success: function(rdata) {
				// $("button.close-modal").trigger("click");
				$('#changePasswordModal').modal('hide');
				alert(rdata);
				console.log(rdata);
			},
			errors: function() {

			}
		});

	});
})(jQuery)

</script>