<table class='table'>
<tr>
	<th colspan="1">
		<label for="id_item_number">Item number:</label>
	</th>
	<td colspan="5">
		<div style="position: relative;">
			<input class="form-control" ng-model='search_item' maxlength="25" id="id_item_number_search"  type="search" name="item_number_search" ng-change="searchItem(search_item)" placeholder="search for item" autocomplete="off" ng-disabled="item_checked">
			<input type="hidden" name="item_number" id="id_item_number">
				<div id="item-list" ng-show="show_item_list"  >

					<ul class="search">
						<li ng-repeat="item in items | filter:search_item">
							<a href="#" class="list-group-item bg-info" ng-click="selectItem(item)"> {[{item.item_number}]}: ({[{item.retail_price}]}) {[{item.description}]}</a>
						</li>
					</ul>
				</div>
		</div>
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_description">Description:</label>
	</th>
	<td colspan="5">
		{{ item_form.description.errors }}
		<textarea class="form-control" cols="40" id="id_description" name="description" placeholder="Item Description" rows="2" value=""></textarea>
	</td>
</tr>

<tr>
	<th>
		<label for="id_quantity_on_hand">Quantity on hand:</label>
	</th>
	<td>
		{{ item_form.quantity_on_hand.errors }}
		<input class="form-control decimal" id="id_quantity_on_hand" name="quantity_on_hand" placeholder="Quantity on hand" type="text" value="">
	</td>
	<th>
		<label for="id_quantity_on_order">Quantity on order:</label>
	</th>
	<td>
		{{ item_form.quantity_on_order.errors }}
		<input class="form-control decimal" id="id_quantity_on_order" name="quantity_on_order" placeholder="Quantity on order" type="text" value="">
	</td>
	<th>
		<label for="id_qty_on_request">Qty on request:</label>
	</th>
	<td>
		{{ item_form.qty_on_request.errors }}
		<input class="form-control decimal" id="id_qty_on_request" name="qty_on_request" placeholder="Quantity on request" type="text"  value="">
	</td>
</tr>
<tr>
	<th>
		<label for="id_minimum_qty">Min qty before reorder:</label>
	</th>
	<td>
		{{ item_form.minimum_qty.errors }}
		<input class="form-control decimal" id="id_minimum_qty" name="minimum_qty" placeholder="Minimum Quantity" type="text" value="">
	</td>
	<th>
		<label for="id_max_order_qty">Max order qty:</label>
	</th>
	<td>
		{{ item_form.max_order_qty.errors }}
		<input class="form-control decimal" id="id_max_order_qty" name="max_order_qty" placeholder="Maximum Order Quenty" type="text" value="">
	</td>
	<th>
		<label for="id_max_single_order_qty">Max single order qty:</label>
	</th>
	<td>
		{{ item_form.max_single_order_qty.errors }}
		<input class="form-control decimal" id="id_max_single_order_qty" name="max_single_order_qty" placeholder="Maximum Single Order Quenty" type="text">
	</td>
</tr>

<tr>
	<th colspan="1">
		<label for="id_primary_supplier">Primary supplier:</label>
	</th>
	<td colspan="5">
		{{ item_form.primary_supplier.errors }}
		<input type="text" name="primary_supplier_demo" placeholder="Start typing to search for supplier" id="id_primary_supplier_demo" class="form-control custom-form-control ng-pristine ng-valid" ng-model="search" autocomplete="off">
		<a href="/admin/contacts/contact/add/" class="add-another" id="add_id_primary_supplier" onclick="return showAddAnotherPopup(this);"> <img src="/statics/admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another"></a>
		<div id="contact_info"></div>
		<input type="hidden" name="primary_supplier" id="id_primary_supplier" value="">
	</td>
</tr>
<tr>
	<th>
		<label for="id_wholesale_cost">Wholesale cost:</label>
	</th>
	<td colspan="2">
		{{ item_form.wholesale_cost.errors }}
		<input class="form-control decimal" id="id_wholesale_cost" name="wholesale_cost" placeholder="Wholesale cost" type="text" value="">
	</td>

	<th>
		<label for="id_currency">Currency:</label>
	</th>
	<td colspan="2">
		{{ item_form.currency.errors }}
		<select class="form-control" id="id_currency" name="currency">
		<option value="">---------</option>
		{% for currency in currencies %}
			<option value="{{currency.id}}">
				{{currency.get_currency_icon}} {{currency.currency}}
			</option>
		{% endfor %}
		
		</select>
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_terms">Terms:</label>
	</th>
	<td colspan="5">
		{{ item_form.terms.errors }}
		<select class="form-control" id="id_terms" name="terms">
		<option value="">---------</option>
		{% for term in terms %}
			<option value="{{term.id}}">{{term.term}}</option>
		{% endfor %}
		</select>
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_department">Department:</label>
	</th>
	<td colspan="5">
		{{ item_form.department.errors }}
		<select class="form-control" id="id_department" name="department">
		<option value="">---------</option>
		{% for department in departments %}
			<option value="{{department.id}}">{{department.name}}</option>
		{% endfor %}
		</select>
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_item_unit_measure">Production Type List:</label>
	</th>
	<td colspan="5">
		{{ item_form.item_unit_measure.errors }}
		<select class="form-control" id="id_item_unit_measure" name="item_unit_measure">
		{% for unitmeasure in unit_measures %}
			<option value="{{unitmeasure.id}}">{{unitmeasure.unit_name}}</option>
		</select>
		{% endfor %}
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_warehouse_location">Warehouse location:</label>
	</th>
	<td colspan="5">
		{{ item_form.warehouse_location.errors }}
		<select class="form-control" id="id_warehouse_location" name="warehouse_location">
		{% for location in locations %}
		<option value="{{location.id}}">{{location.warehouse_location}}</option>
		{% endfor %}
		</select>
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_estimated_wholesale_cost">Estimated wholesale cost:</label>
	</th>
	<td colspan="5">
		{{ item_form.estimated_wholesale_cost.errors }}
		<input class="form-control decimal" id="id_estimated_wholesale_cost" name="estimated_wholesale_cost" placeholder="Estimated wholesale cost" type="text">
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_retail_price">Retail price:</label>
	</th>
	<td colspan="5">
		{{ item_form.retail_price.errors }}
		<input class="form-control decimal" id="id_retail_price" name="retail_price" placeholder="Retail Price" type="text">
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_production_type">Production type:</label>
	</th>
	<td colspan="5">
		{{ item_form.production_type.errors }}
		<select class="form-control" id="id_production_type" name="production_type">
		{% for production_type in production_types %}
			<option value="{{production_type.id}}">{{production_type.production_type_name}}</option>
		{% endfor %}
		</select>
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_catalog_number">Catalog number:</label>
	</th>
	<td colspan="5">
		{{ item_form.catalog_number.errors }}
		<input class="form-control" id="id_catalog_number" maxlength="25" name="catalog_number" placeholder="Catalog Number" type="text">
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_country_of_origin">Country of origin:</label>
	</th>
	<td colspan="5">
		{{ item_form.country_of_origin.errors }}
		<input class="form-control" id="id_country_of_origin" maxlength="25" name="country_of_origin" placeholder="Country of Origin" type="text">
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_lead_time">Lead time:</label>
	</th>
	<td colspan="5">
		{{ item_form.lead_time.errors }}
		<input class="form-control" id="id_lead_time" maxlength="25" name="lead_time" placeholder="Lead Time" type="text">
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_customs_designation">Customs designation:</label>
	</th>
	<td colspan="5">
		{{ item_form.customs_designation.errors }}
		<select class="form-control" id="id_customs_designation" name="customs_designation">
		{% for customdesignation in customdesignations %}
			<option value="{{customdesignation.id}}">{{customdesignation.designation}}</option>
		{% endfor %}
		</select>
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_customer_tariff_number">Customer tariff number:</label>
	</th>
	<td colspan="5">
		{{ item_form.customer_tariff_number.errors }}
		<input class="form-control" id="id_customer_tariff_number" maxlength="25" name="customer_tariff_number" placeholder="Lead Time" type="text">
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_preference_criteria">Preference criteria:</label>
	</th>
	<td colspan="5">
		{{ item_form.preference_criteria.errors }}
		<input class="form-control" id="id_preference_criteria" maxlength="25" name="preference_criteria" placeholder="Preference Criteria" type="text">
		</select>
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_producer_of_item">Producer of item:</label>
	</th>
	<td colspan="5">
		{{ item_form.producer_of_item_demo.errors }}
		<input type="hidden" name="producer_of_item">

		<input type="text" name="producer_of_item_demo" placeholder="Start typing to search for supplier" id="id_producer_of_item_demo" class="form-control ng-pristine ng-valid" ng-model="search_producer" autocomplete="off">
		<input type="hidden" name="producer_of_item" id="id_producer_of_item">
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_shipping_weight">Shipping weight:</label>
	</th>
	<td colspan="4" colspan="1">
		{{ item_form.shipping_weight.errors }}
		<input class="form-control" id="id_shipping_weight" name="shipping_weight" placeholder="Shipping weight" type="text">
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_minimum_qty_on_hand">Minimum qty on hand:</label>
	</th>
	<td colspan="5">
		{{ item_form.minimum_qty_on_hand.errors }}
		<input class="form-control decimal" id="id_minimum_qty_on_hand" name="minimum_qty_on_hand" placeholder="Minimum quantity on hand" type="text">
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_duty_percentage">Duty percentage:</label>
	</th>
	<td colspan="5">
		{{ item_form.number.errors }}
		<input class="form-control decimal" id="id_duty_percentage" name="duty_percentage" placeholder="Duty percentage" type="text">
	</td>
</tr>

<tr>
	<th colspan="1">
		<label for="id_website">Website:</label>
	</th>
	<td colspan="5">
		{{ item_form.website.errors }}
		<input class="form-control" id="id_website" maxlength="250" name="website" placeholder="product page url" type="url">
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_item_image">Item image:</label>
	</th>
	<td colspan="5">
		{{ item_form.item_image.errors }}
		<input id="id_item_image" name="item_image" type="file">
	</td>
</tr>
</table>