<table class="table">
<tr>
	<td class="bg-info">
		<table class="table table-bordered">
			<tr>
				<th width="150">
					<label for="id_pl_number">PL Number:</label>
				</th>
				<td>
					<div style="position: relative;">
						<input class="form-control" ng-model='search_pl' maxlength="25" id="id_pl_number_search"  type="search" name="pl_number_search" ng-change="searchPl(search_pl)" placeholder="Search for PL leave Blank for New PL" autocomplete="off" ng-disabled="pl_checked">
						
						<div id="pl_list" ng-show="pls.length && show_pl_list">
							<table class="table">
								<thead>
									<tr>
										<td>PL Number</td>
										<td>Job Number</td>
									</tr>
									
								</thead>
								<tbody>
									<tr ng-repeat="pl in pls" ng-click="selectPl(pl)">
										<td>{[{pl.pl_number}]}</td>
										<td>{[{pl.job_number}]}</td>
									</tr>
									
								</tbody>
								
							</table>
							
						</div>
						<div ng-show="!pls.length && show_pl_list">
							No Packing List Found!
						</div>
					</div>
					<input id="id_pl_number" name="pl_number" type="hidden" id="id_pl_number">
				</td>		
			</tr>
			<tr>
				<td width="">
					<label for="id_sold_to">Sold to:</label>
				</td>
				<td>
					<div class="contact_box">						
					
						<input type="text" ng-model="search_sold_to" placeholder="start typing to search sold to contact" class="form-control" ng-change="searchSoldTo(search_sold_to)">
						<table class="table table-bordered" id="sold_to_contact_details">
							<tr>
								<th width="150">Contact Name</th>
								<td>{[{ sold_to_contact.contact_name }]}</td>
							</tr>
							<tr>
								<th>Phone</th>
								<td>
									<li ng-repeat="ph in sold_to_contact.phones">
										({[{ ph.type }]}): {[{ ph.number }]}-{[{ ph.ext }]}
									</li>
								</td>
							</tr>
							<tr>
								<th>Email</th>
								<td>
									<li ng-repeat="em in sold_to_contact.emails">
										<span class='bg-info email'>{[{ em.email_address}]} ({[{em.email_type}]})</span>
									</li>
								</td>
							</tr>
						</table>
						<table class="table sold_to_contact" id="sold_to_contact_list">
							<thead>
								<tr>
									<th>Contact Name</th><th> City <a href="" class="close">x</a></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="con in soldto" ng-click="selectSoldTo(con)">
									
									<td>{[{con.contact_name}]}</td>
									<td>{[{con.city}]}</td>
								</tr>
							</tbody>
						</table>

						<input type="hidden" id="id_sold_to" name="sold_to">
					</div>
				</td>
			</tr>
			<tr>
				<th width="150">
					<label for="id_date_issued">Date Issued:</label>
				</th>
				<td>
					<input class="form-control datepicker" id="id_date_issued" name="date_issued" placeholder="date issued" type="text" autocomplate="off">
				</td>
			</tr>
			<tr>
				<td>
					<label for="id_job_number">Job number:</label>
				</td>
				<td>
				<div class="job_box">
					<input type='text' ng-model="search_job" class='form-control item-job-number' name='item_job_number' ng-change="searchJob(search_job)" placeholder='Start typing to search job' autocomplete="off">
					<table class="table table-bordered" id="job-details">
						<tr>
							<th class="bg-info">job number</th>
							<th class="bg-info">job name</th>
							<th class="bg-info">Customer Contact</th>
						</tr>
						<tr>
							<td >{[{schedule_job.job_number}]}</td>
							<td >{[{schedule_job.job_name}]}</td>
							<td >{[{schedule_job.customer_contact_name}]}</td>

						</tr>
							
					</table>
					<table class="table" id="job_list">
					<thead>
					<tr>
						<td>ID</td><td>Job number</td><td>job name</td><td>customer_contact <a href="" class="close">x</a></td>
					</tr>
					</thead>
					<tr ng-repeat="job in schedule_jobs" ng-click="selectJob(job)">
						<td>{[{ job.id }]}</td>
						<td>{[{ job.job_number }]}</td>
						<td>{[{ job.job_name }]}</td>
						<td>{[{ job.customer_contact_name }]}</td>
					</tr>
						
					</table>
					<input type='hidden' name='job_number' id='id_job_number'>
				</div>
				</td>
			</tr>
			<tr>
				<td>
					<label for="id_order_type">Order Type:</label>
				</td>
				<td>
					<select class="form-control" name="order_type" id="id_order_type">
						<option value="0">Engineering Parts Order</option>
						<option value="1">Standared Parts Order</option>
						<option value="2">F.O.B Order</option>
						<option value="3">Mod Parts Order Std</option>
						<option value="4">Mod Parts Order Eng</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<label for="id_hold_at_dept_for_pickup">Hold at for pickup:</label>
				</td>
				<td>
					<select class="form-control" name="hold_at_dept_for_pickup" id="id_hold_at_dept_for_pickup">
						<option value="1">Yes</option>
						<option value="0">No</option>
					</select>
				</td>
			</tr>
			<tr>
				<td width="">
					<label for="id_ship_to">Customer Broker:</label>
				</td>
				<td>
					<div class="contact_box">
						<input type="text" ng-model="search_customer_broker" placeholder="start typing to search customer broker contact" class="form-control" ng-change="searchCustomerBroker(search_customer_broker)">
						<table class="table table-bordered" id="customer_broker_contact_details">
							<tr>
								<th width="150">Contact Name</th>
								<td>{[{ customer_broker_contact.contact_name }]}</td>
							</tr>
							<tr>
								<th>Phone</th>
								<td>
									<li ng-repeat="ph in customer_broker_contact.phones">
										({[{ ph.type }]}): {[{ ph.number }]}-{[{ ph.ext }]}
									</li>
								</td>
							</tr>
							<tr>
								<th>Email</th>
								<td>
									<li ng-repeat="em in customer_broker_contact.emails">
										<span class='bg-info email'>{[{ em.email_address}]} ({[{em.email_type}]})</span>
									</li>
								</td>
							</tr>
						</table>
						<table class="table customer_broker_contact" id="customer_broker_contact_list">
							<thead>
								<tr>
									<th>Contact Name</th><th> City <a href="" class="close">x</a></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="con in customer_brokers" ng-click="selectCustomerBroker(con)">
									
									<td>{[{con.contact_name}]}</td>
									<td>{[{con.city}]}</td>
								</tr>
							</tbody>
						</table>

						<input type="hidden" id="id_customer_broker" name="customer_broker">
						
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<label for="id_freight_charges">Freight charges:</label>
				</td>
				<td>
					<input class="form-control" id="id_freight_charges" maxlength="20" name="freight_charges" placeholder="freight charges" type="number">
				</td>
			</tr>
		</table>
	</td>
	<td class="bg-info">
		<table class="table table-bordered">
			<tr>
				<th width="150">
					<label for="id_pl_number">Next PL Number:</label>
				</th>
				<td>
					<input type="text" value="{{next_pl_number}}" class="form-control" readonly="">
				</td>
			</tr>
			<tr>
				<th width="150">
					<label for="id_sl_number">SL Number:</label>
				</th>
				<td>
					<div style="position: relative;">
					<input class="form-control" id="id_sl_number_search" name="sl_number_search" type="search" placeholder="Search for SL leave Blank for New SL" ng-model="search_sl" ng-change="searchSl(search_sl)" ng-disabled="sl_checked" autocomplete="off">
						<div id="sl_list" ng-show="sls.length && show_sl_list">
							<table class="table">
								<thead>
									<tr>
										<td>SL Number</td>
										<td>Sold To</td>
										<td>Ship To</td>
										<td>Job Number</td>
									</tr>
									
								</thead>
								<tbody>
									<tr ng-repeat="sl in sls" ng-click="selectSL(sl)">
										<td>{[{sl.sl_number}]}</td>
										<td>{[{sl.sold_to.contact_name}]}</td>
										<td>{[{sl.ship_to.contact_name}]}</td>
										<td>{[{sl.job_number}]}</td>
									</tr>
									
								</tbody>
								
							</table>
							
						</div>
					</div>
					<input id="id_sl_number" name="sl_number" type="hidden" value="">
				</td>		
			</tr>
			<tr>
				<td width="">
					<label for="id_ship_to">Ship to:</label>
				</td>
				<td>
					<div class="contact_box">
						<input type="text" ng-model="search_ship_to" placeholder="start typing to search ship to contact" class="form-control" ng-change="searchShipTo(search_ship_to)">
						<table class="table table-bordered" id="ship_to_contact_details">
							<tr>
								<th width="150">Contact Name</th>
								<td>{[{ ship_to_contact.contact_name }]}</td>
							</tr>
							<tr>
								<th>Phone</th>
								<td>
									<li ng-repeat="ph in ship_to_contact.phones">
										({[{ ph.type }]}): {[{ ph.number }]}-{[{ ph.phone_ext }]}
									</li>
								</td>
							</tr>
							<tr>
								<th>Email</th>
								<td>
									<li ng-repeat="em in ship_to_contact.emails">
										<span class='bg-info email'>{[{ em.email_address}]} ({[{em.email_type}]})</span>
									</li>
								</td>
							</tr>
						</table>
						<table class="table ship_to_contact" id="ship_to_contact_list">
							<thead>
								<tr>
									<th>Contact Name</th><th> City <a href="" class="close">x</a></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="con in shipto" ng-click="selectShipTo(con)">
									
									<td>{[{con.contact_name}]}</td>
									<td>{[{con.city}]}</td>
								</tr>
							</tbody>
						</table>

						<input type="hidden" id="id_ship_to" name="ship_to">
					</div>
				</td>
			</tr>
			<tr>
				<th width="150">
					<label for="id_date_shipped">Date Shipped:</label>
				</th>
				<td>
					<input class="form-control datepicker" id="id_date_shipped" name="date_shipped" placeholder="date shipped" type="text" autocomplate="off">
				</td>
			</tr>
			<tr>
				<td>
					<label for="id_generated_by">Generated By:</label>
				</td>
				<td>
					<select class="form-control" name="generated_by" id="id_generated_by" 
					{% if cuser.is_superuser == 0 %} disabled {% endif %}>
					{% for us in users %}
						<option value="{{us.id}}">{{us.username}}</option>
					{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<label for="id_ship_via">Ship Via:</label>
				</td>
				<td>
					<select class="form-control" name="ship_via" id="id_ship_via">
					{% for dc in dcs %}
						<option value="{{dc.id}}">{{dc.delivery_choice}}</option>					
					{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<label for="id_nel_packing_slip">Nel packing slip:</label>
				</td>
				<td>
					<select class="form-control" name="nel_packing_slip" id="id_nel_packing_slip">
						<option value="1">Yes</option>
						<option value="0">No</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<label for="id_customer_po_number">Customer po number:</label>
				</td>
				<td>
					<input class="form-control" id="id_customer_po_number" maxlength="20" name="customer_po_number" placeholder="Customer PO Number" type="text">
				</td>
			</tr>
			<tr>
				<th width="150">
					<label for="id_invoiced_on">Invoiced On:</label>
				</th>
				<td>
					<input class="form-control datepicker" id="id_invoiced_on" name="invoiced_on" placeholder="date issued" type="text" autocomplate="off">
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td colspan="2">
	<div class="item_box">
		<table class="table item">
			<thead>
				<tr>
					<th width="180">Item Number</th>
					<th width="">Description</th>
					<th width="180">Unit</th>
					<th width="180">Ordered</th>
					<th width="180">Qty B/O</th>
					<th width="200">Qty shipped</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="add_pl_item_list">
				<tr style="border-top: 2px dotted red;">
				<td style="position: relative;">
					<input type="text" class="form-control added_item_number" name="" value="" ng-model="search_item" ng-change="searchItem(search_item)" placeholder="search for item" autocomplete="off">
					
					<table class="table" id="items_list">
						<thead>
							<tr>
								<th width="150">Item Number</th>
								<th width="150">SL Number</th>
								<th width="250">Description</th>
								<th width="120">Unit</th>
								<th width="100">Ordered</th>
								<th width="150">Qty B/O</th>
								<th width="150">Qty shipped</th>
								<th><a href="" class="close">x</a></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in items" ng-click="selectItem(item)">
								<td>{[{item.item_number}]}</td>
								<td>{[{item.shipping_list}]}</td>
								<td>{[{item.description}]}</td>
								<td>{[{item.item_unit_measure}]}</td>
								<td>{[{item.ordered}]}</td>
								<td>{[{item.backordered}]}</td>
								<td>{[{item.total_shipped}]}</td>
								<td></td>
							</tr>

							<tr ng-show="!items.length">
								<td colspan="10">No Items</td>
							</tr>
						</tbody>

					</table>
				</td>
				<td>
					<textarea rows="1" class="form-control" readonly=""></textarea>
				</td>
				<td>
					<input type="text" class="form-control" placeholder="Unit" readonly="">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="Item Ordered" readonly="">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="Qty B/O" readonly="">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="Qty shipped" readonly="">
				</td>
				<td></td>
				</tr>
				<tr class="removed_item">
					
				</tr>
				<tr class="footer"></tr>			
			</tbody>
		</table>				
	</div>
		
	</td>
</tr>
<tr>
	<td>
		<input type="submit" ng-show="show_add_button" class="form-control btn btn-primary" value="Add PL">
	</td>
	<td>
		
		<input type="submit" ng-show="show_update_button" class="form-control btn btn-primary" value="Update PL">
	</td>
</tr>
</table>