<table class="table table-bordered add-sl-form">
<tr class="bg-success">
	<th width="150">
		<label for="id_sl_number">SL Number:</label>
	</th>
	<td>
		<div style="position: relative;">
		<input class="form-control" id="id_sl_number_search" name="sl_number_search" type="search" placeholder="Search for SL leave Blank for New SL" ng-model="search_sl" ng-change="searchSl(search_sl)" ng-disabled="sl_checked" autocomplete="off">
		<div id="sl_list" ng-show="show_sl_list" >

					<ul class="search">
						<li ng-repeat="sl in sls | filter:search_sl">
							<a href="#" class="list-group-item bg-info" ng-click="selectSl(sl)">{[{sl.sl_number}]}</a>
						</li>
					</ul>
				</div>
		</div>
		<input id="id_sl_number" name="sl_number" type="hidden" value="{[{search_sl}]}">
		<input id="id_sl_id" name="sl_id" type="hidden">
	</td>
	<td><label for="id_job_number">Job number:</label></td>
	<td>
		<input type='text' class='form-control item-job-number' name='item_job_number' placeholder='Start typing to search job' id="id_item_job_number">
		<input type='hidden' name='job_number' id='id_job_number'>
	</td>
</tr>

<tr>
<td width="">
	<label for="id_sold_to">Sold to:</label>
</td>
<td>
	<div class="contact_box">
		
	
		<input type="text" ng-model="search_sold_to" placeholder="start typing to search sold to contact" class="form-control">
		<table class="table table-bordered" id="sold_to_contact_details">
			<tr>
				<th width="150">Contact Name</th>
				<td>{[{ sold_to_contact.contact_name }]}</td>
			</tr>
			<tr>
				<th>Phone</th>
				<td>
					<li ng-repeat="phone in sold_to_contact.phones" class="bg-info">
						{[{phone.phone_type}]}: {[{phone.phone}]} ({[{phone.phone_ext}]})
					</li>
				</td>
			</tr>
			<tr>
				<th>Email</th>
				<td><span class='bg-info email' ng-repeat="em in sold_to_contact.emails">{[{ em.email_address}]}</span></td>
			</tr>
		</table>
		<table class="table sold_to_contact" id="sold_to_contact_list">
			<thead>
				<tr>
					<th>Contact Name</th><th> City <a href="" class="close">x</a></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="con in contacts | googleSearchFilter:search_sold_to" ng-click="selectSoldTo(con)">
					
					<td>{[{con.contact_name}]}</td>
					<td>{[{con.city}]}</td>
				</tr>
			</tbody>
		</table>

		<input type="hidden" id="id_sold_to" name="sold_to">
	</div>
</td>

<td width="">
	<label for="id_ship_to">Ship to:</label>
</td>
<td>
	<div class="contact_box">
		<input type="text" ng-model="search_ship_to" placeholder="start typing to search ship to contact" class="form-control">
		<table class="table table-bordered" id="ship_to_contact_details">
			<tr>
				<th width="150">Contact Name</th>
				<td>{[{ ship_to_contact.contact_name }]}</td>
			</tr>
			<tr>
				<th>Phone</th>
				<td>
					<li ng-repeat="phone in ship_to_contact.phones" class="bg-info">
						{[{phone.phone_type}]}: {[{phone.phone}]} ({[{phone.phone_ext}]})
					</li>
				</td>
			</tr>
			<tr>
				<th>Email</th>
				<td><span class='bg-info email' ng-repeat="em in ship_to_contact.emails">{[{ em.email_address}]}</span></td>
			</tr>
		</table>
		<table class="table ship_to_contact" id="ship_to_contact_list">
			<thead>
				<tr>
					<th>Contact Name</th><th> City <a href="" class="close">x</a></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="con in contacts | googleSearchFilter:search_ship_to" ng-click="selectShipTo(con)">
					
					<td>{[{con.contact_name}]}</td>
					<td>{[{con.city}]}</td>
				</tr>
			</tbody>
		</table>

		<input type="hidden" id="id_ship_to" name="ship_to">
	</div>
</td>
			  			
</tr>

<tr class="bg-success">
	<th width="150">
		<label for="id_ordered_date">Ordered Date:</label>
	</th>
	<td>
		<input class="form-control datepicker" id="id_ordered_date" name="ordered_date" placeholder="date issued" type="text" >
	</td>
	<th width="150">
		<label for="id_date_required">Date required:</label>
	</th>
	<td>

		<input class="form-control datepicker" id="id_date_required" name="date_required" placeholder="date expected" type="text">
	</td>
	
</tr>

<tr>		  			
	<td >
	<label for="id_customer_po_number">Customer po number:</label></td>
	<td>
		<input class="form-control" id="id_customer_po_number" maxlength="20" name="customer_po_number" placeholder="Customer PO Number" type="text">
	</td>
	<td width=""><label for="id_customer_job_number">Customer job number:</label></td>
	<td>
		<input class="form-control" id="id_customer_job_number" maxlength="20" name="customer_job_number" placeholder="Customer Job Number" type="text">
	</td>
</tr>
<tr class="bg-success">
	<td><label for="id_ship_via">Ship via:</label></td>
	<td>
	<select class="form-control" id="id_ship_via" name="ship_via">
		{% for sv in ship_vias %}
		<option value="{{sv.id}}">{{ sv.delivery_choice }}</option>
		{% endfor %}
	</select>
</td>
<td colspan="2"></td>
</tr>


<tr class="bg-hello">
	<th colspan="4" style="text-align: center; font-size: 16px;">
		<label for="id_items_total"><b>Items</b></label>
	</th>
	
</tr>
<tr class="bg-info">

	<td colspan="4">
		<div class="item_box">
						
			<table class="table item">
			<thead>
				<tr>
					<th width="120">Item Number</th>
					<th width="180">Description</th>
					<th>Ordered</th>
					<th>shipped today</th>
					<th>shippeed total to date</th>
					<th>backordered</th>
					<th>Last shipped</th>
					<th>On packing list number</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="add_item_list">
				<tr style="border-top: 2px dotted red;">
				<td style="position: relative;">
					<input type="text" class="form-control added_item_number" name="" value="" ng-model="search_item" ng-change="searchItem(search_item)" placeholder="search for item" autocomplete="off">

					<table class="table" id="items_list">
						<thead>
							<tr>
								<th width="110">Item Number</th>
								<th width="160">Description</th>
								<th>Unit Measure</th>
								<th>Wholesale Cost</th>
								<th>Currency</th>
								<th>Primary Supplier</th>
								<th>QTY on hand</th>
								<th>Qty on Order</th>
								<th>Last Ordered</th>
								<th><a href="" class="close">x</a></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in items | googleSearchFilter:search_item" ng-click="selectItem(item)">
								<td>{[{item.item_number}]}</td>
								<td>{[{item.description}]}</td>
								<td>{[{item.item_unit_measure}]}</td>
								<td>{[{item.wholesale_cost}]}</td>
								<td>{[{item.currency}]}</td>
								<td>{[{item.primary_supplier.contact_name}]}</td>
								<td>{[{item.quantity_on_hand}]}</td>
								<td>{[{item.quantity_on_order}]}</td>
								<td>{[{item.last_ordered}]}</td>
								<td></td>
								
								
							</tr>

							<tr ng-show="!items.length">
								<td colspan="10">No Items</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td>
					<textarea rows="1" class="form-control demo_box" readonly=""></textarea>
				</td>
				<td>
					<input type='number' class='form-control demo_box' placeholder='Ordered'>
				</td>
				
				<td>
					<input type='number' class='form-control demo_box' placeholder='Shipped today' readonly>
				</td>
				<td>
					<input type='number' class='form-control demo_box' placeholder='Shipped total to date' readonly>
				</td>
				<td>
					
					<input type='text' class='form-control demo_box' placeholder='Backordered' autocomplete='off' readonly>
				</td>
				<td>
					<input type='text' class='form-control demo_box' placeholder='Last shipped' autocomplete='off' readonly>
				</td>
				<td>
					<input type='text' class='form-control' placeholder='PL Number' readonly='readonly' >
				</td>
				<td></td>
				
				</tr>				
				<tr class="removed_item">
					
				</tr>
			</tbody>
			
							
			</table>
				
		</div>
	</td>	

</tr>

</table>