<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="slCommentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Add comments</h4>
</div>

<div class="modal-body" style="text-align: left;">
<input type="hidden" name="item_seq" id="item_seq">
	<div>
		<b>Comments</b>

		<textarea class="form-control custom_details sl_comment" name="sl_comment"></textarea>
	</div>
    		
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" id="slCommentUpdate">Update changes</button>
</div>

<script type="text/javascript">
(function(){
	
    $("#slCommentUpdate").on("click", function(e){
        e.preventDefault();     
        var custom_comment = $("textarea.sl_comment").val();
        var item_seq_no = $("#item_seq").val();

        $('#slCommentModal').modal('hide');

        var tr = $("tbody#add_item_list").find("a[data-seq='"+item_seq_no+"']").closest("tr");
        var newrow = "<tr class='bg-warning'>";
        newrow += "<td colspan='2'><b>Comment</b></td>";
        newrow += "<td colspan='6'><textarea class='form-control' name='comment_detail_"+item_seq_no+"'>";
        newrow += custom_comment;
        newrow += "</textarea></td>";
        
        newrow += "</tr>";

        tr.after(newrow);
        
    });

})(jQuery)
    
</script>
		</div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->