<table class="table bordered">
	<tbody>
		<tr>
			<td><label>Controller ID</label></td>
			<td colspan="3">
				<div class="contact_box">	
					<input type="text" class="form-control" ng-model="search_controller" ng-change="searchController(search_controller)">
					<table class="table" id="controller_list">
						<thead>
							<th>Controller ID</th><th>Sold To</th><th>Location</th>
							<th><a href="" class="close" ng-click="hideControllerList()">x</a></th>
						</thead>
						<tbody>
							<tr class="ui-menu-item" ng-repeat="controller in controllers" ng-click="selectController(controller)">
								<td>{[{ controller.controller_id }]}</td>
								<td class="address_1">
									<p ng-if="controller.sold_to.address_1 != ''">{[{controller.sold_to.address_1}]}</p>
									<p ng-if="controller.sold_to.city != ''">{[{controller.sold_to.city}]}<span ng-if="controller.sold_to.province != ''">, {[{controller.sold_to.province}]}</span></p>
									<p>
									<span ng-if="controller.sold_to.country != ''">{[{controller.sold_to.country}]}</span> <span ng-if="controller.sold_to.postal_code != ''">{[{ controller.sold_to.postal_code }]}</span>
									</p>
									
								</td>
								<td class="address_1">
									<p ng-if="controller.location.address_1 != ''">{[{controller.location.address_1}]}</p>
									<p ng-if="controller.location.city != ''">{[{controller.location.city}]}<span ng-if="controller.location.province != ''">, {[{controller.location.province}]}</span></p>
									<p>
									<span ng-if="controller.location.country != ''">{[{controller.location.country}]}</span> <span ng-if="controller.location.postal_code != ''">{[{ controller.location.postal_code }]}</span>
									
									</p>
									
									
								</td>
								<td></td>

							</tr>
						</tbody>
					</table>
					<input type="hidden" name="controller_id" id="id_controller_id" value="{[{search_controller}]}">
				</div>
			</td>
		</tr>
		<tr>
			<td><label>Sold To</label></td>
			<td colspan="3">
				<div class="contact_box">	
					<input type="text" ng-model="search_sold_to" name="search_sold_to" placeholder="start typing to search sold to contact" class="form-control" ng-change="searchSoldTo(search_sold_to)">	
					<table class="table sold_to_contact" id="sold_to_contact_list">
						<thead>
							<tr>
								<th>Contact Name</th><th>Address</th><th> Primary Cont No.</th>
								<th><a href="" class="close" ng-click="hideSupplierContact()">x</a></th>
							</tr>
						</thead>
						<tbody>
							

							<tr class="ui-menu-item" ng-repeat="contact in soldto" ng-click="selectSoldTo(contact)">
								
								
								<td class="contact_name">{[{contact.contact_name}]}</td>
								<td class="address_1">
									<p ng-if="contact.address_1 != ''">{[{contact.address_1}]}</p>
									<p ng-if="contact.city != ''">{[{contact.city}]}<span ng-if="contact.province != ''">, {[{contact.province}]}</span></p>
									<p>
									<span ng-if="contact.country != ''">{[{contact.country}]}</span>
									</p>
									<p ng-if="contact.postal_code != ''">{[{ contact.postal_code }]}</p>
									
									
								</td>
								
								<td class="city">
									<div class='phone' ng-repeat="phon in contact.phones" ng-if="$first">
										{[{phon.number}]} <span ng-if="phon.ext !=''"> (ext: {[{phon.ext}]})</span>
									</div>
								</td>
								
								<td>
									
								</td>
							</tr>
						</tbody>
					</table>

					<input type="hidden" id="id_sold_to" name="sold_to">
				</div>
			</td>
		</tr>
		<tr id="sold_to_details_row">
			<td></td>
			<td colspan="3">
				<table class="table table-bordered" id="sold_to_contact_details">
				
					<tr>
						<th width="150">Contact Name</th>
						<td colspan="2">
							<span ng-if="sold_to_contact.attention_to != ''">
								{[{ sold_to_contact.attention_to }]}, 
							</span>
							<span ng-if="sold_to_contact.contact_name != ''">
								{[{ sold_to_contact.contact_name }]}
							</span>
							
						</td>
					</tr>
					<tr>
						<th>Address</th>
						<td colspan="2">
							<p ng-if="sold_to_contact.address_1 != ''">
								{[{sold_to_contact.address_1}]}
							</p>
							<p ng-if="sold_to_contact.address_2 != ''">
								{[{sold_to_contact.address_2}]}
							</p>
							<p>{[{sold_to_contact.city}]}<span ng-if="sold_to_contact.province != ''">, {[{sold_to_contact.province}]}</span></p>
							
							<p>{[{sold_to_contact.country}]}</p>
							<p><span ng-if="sold_to_contact.postal_code != ''">{[{ sold_to_contact.postal_code }]}
							</span></p>
						</td>
					</tr>
					
				</table>
			</td>
		</tr>
		<tr>
			<td><label>Localtion</label></td>
			<td colspan="3">
				<div class="contact_box">	
					<input type="text" ng-model="search_location" name="search_location" placeholder="start typing to search location contact" class="form-control" ng-change="searchLocation(search_location)">
					
					
					<table class="table location_contact" id="location_contact_list">
						<thead>
							<tr>
								<th>Contact Name</th><th>Address</th><th> Primary Cont No.</th>
								<th><a href="" class="close" ng-click="hideSupplierContact()">x</a></th>
							</tr>
						</thead>
						<tbody>
							

							<tr class="ui-menu-item" ng-repeat="contact in location_contact" ng-click="selectLocation(contact)">
								
								
								<td class="contact_name">{[{contact.contact_name}]}</td>
								<td class="address_1">
									<p ng-if="contact.address_1 != ''">{[{contact.address_1}]}</p>
									<p ng-if="contact.city != ''">{[{contact.city}]}<span ng-if="contact.province != ''">, {[{contact.province}]}</span></p>
									<p>
									<span ng-if="contact.country != ''">{[{contact.country}]}</span>
									</p>
									<p ng-if="contact.postal_code != ''">{[{ contact.postal_code }]}</p>
									
									
								</td>
								
								<td class="city">
									<div class='phone' ng-repeat="phon in contact.phones" ng-if="$first">
										{[{phon.number}]} <span ng-if="phon.ext !=''"> (ext: {[{phon.ext}]})</span>
									</div>
								</td>
								
								<td>
									
								</td>
							</tr>
						</tbody>
					</table>

					<input type="hidden" id="id_location" name="location">
				</div>
			</td>
		</tr>
		<tr id="location_details_row">
			<td></td>
			<td colspan="3">
				<table class="table table-bordered" id="location_contact_details">
				
					<tr>
						<th width="150">Contact Name</th>
						<td colspan="2">
							<span ng-if="location_contact.attention_to != ''">
								{[{ location_contact.attention_to }]}, 
							</span>
							<span ng-if="location_contact.contact_name != ''">
								{[{ location_contact.contact_name }]}
							</span>
							
						</td>
					</tr>
					<tr>
						<th>Address</th>
						<td colspan="2">
							<p ng-if="location_contact.address_1 != ''">
								{[{location_contact.address_1}]}
							</p>
							<p ng-if="location_contact.address_2 != ''">
								{[{location_contact.address_2}]}
							</p>
							<p>{[{location_contact.city}]}<span ng-if="location_contact.province != ''">, {[{location_contact.province}]}</span></p>
							
							<p>{[{location_contact.country}]}</p>
							<p><span ng-if="location_contact.postal_code != ''">{[{ location_contact.postal_code }]}
							</span></p>
						</td>
					</tr>
					
				</table>
			</td>
		</tr>
		<tr>
			<td><label>Controller Type</label></td>
			<td>
				<input type="text" class="form-control" name="controller_type" id="id_controller_type">
			</td>
			<td><label>Number of contacts for this controller</label></td>
			<td width="200">
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">#</span>
					<input type="number" width="50" class="form-control" ng-model="no_of_contacts" name="no_of_contacts">
					<span class="input-group-btn">
				        <button class="btn btn-danger" type="button" ng-click="generateContacts()">Add!</button>
				    </span>
				</div>
			</td>
		</tr>
		
	</tbody>
	<tfoot>
		<tr>
			<td colspan="2">
				<button type="submit" ng-show="new_controller" class="btn btn-primary">Add Controller</button>
				<button type="submit" ng-hide="new_controller" class="btn btn-primary">Update Controller</button>
			</td>
			<td colspan="2">
				<a ng-hide="new_controller" class="btn btn-danger" ng-click="deleteController()" id="delete-controller">Delete Controller</a>
			</td>
		</tr>
	</tfoot>
	
</table>