{% extends "base.html" %}

{% block angular %}
	<script type="text/javascript" src="/statics/js/angular.min.js"></script>
	<script type="text/javascript" src="/statics/js/angular-route.min.js"></script>	
	
	<script type="text/javascript" src="/statics/js/bootstrap-multiselect.js"></script>
	<link rel="stylesheet" href="/statics/css/bootstrap-multiselect.css" type="text/css"/>
	
{% endblock angular %}

{% block content %}
<style>
#feedback { font-size: 1.4em; }
/*#selectable .ui-selecting { background: #FECA40; }*/
#selectable .ui-selected, #item-selectable .ui-selected, #supplier-ship-to .ui-selected  { background: #F39814; color: white; }
#selectable, #item-selectable, #supplier-ship-to { list-style-type: none; margin: 0; padding: 0px 2px 0px 0px; width: 100%; }
#selectable thead tr, #item-selectable thead tr, #supplier-ship-to thead tr{ margin: 0px 3px; padding: 0.4em; font-size: 1.4em; height: 35px; background-color: #ed791a; }
#selectable tbody tr, #item-selectable tbody tr, #supplier-ship-to tbody tr { margin: 0px 3px; padding: 0.4em; font-size: 1.4em; height: 35px; border-bottom: 1px solid #EEE; }
#selectable tbody tr:hover, #item-selectable tbody tr:hover, #supplier-ship-to tbody tr:hover { background-color: #FECA40; color: #000; }
#selectable td, #selectable th, #item-selectable td, #item-selectable th, #supplier-ship-to th, #supplier-ship-to td {
	padding: 3px 10px;
}
#supplier-ship-to-container {
	left: 144px !important;
}

#supplier-container, #item-container {
	width: 680px;
}
#supplier-ship-to {
	width: 430px;
}
#supplier-container .ui-widget-content-custom, #item-container .ui-widget-content-custom,
#supplier-ship-to .ui-widget-content-custom {
	background-color: #333 !important;
	color: #FFF;
}

table#item-list {
	width: 100%;
	margin-top: 10px;
	/*display: none;*/
	/*border: 2px solid #333;*/
}
.glyphicon {
	color: blue !important;
	top: 10px;
}

#ordered-item {
	position: fixed;
	width: 570px;
	font-size: 10px;
}
#ordered-item .panel-body {
	padding: 0px !important;

}
.item-desc {
	margin: 5px 1px 2px;
}
.custom-form-control2, .custom-form-control3 {
	width: 45%;
	display: inline-block;
}
.custom-form-control3 {
	margin-left: 10px;
}
#item-list hr {
	margin-top: 2px !important;
	margin-bottom: 2px !important;
}
ul.as-selections {
	padding-left: 0px !important;
}

</style>
<div class="container main-body" ng-app="premierApp">

<section class="row " ng-controller="AddPOController">
	
	<form action="/purchase/add-po/" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
		    	<h4>Add Purchase Order</h4>
		  	</div>
		  	<div class="panel-body">
			  	
			  		<table class="table">
				  	{{ poform.as_table }}
						<tr>
			  				<td></td>
			  				<td>
			  					<input type='submit' class="btn btn-primary" value="Add Purchase Order">
			  				</td>
			  			</tr>
			  			
					</table>
				
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
		    	<h4>Add Item To PO</h4>
		  	</div>
		  	<div class="panel-body">
		  		<input type='text' id='search_item' class="form-control" ng-model='search_item' autocomplete='off' placeholder='Start typing to search inventory'>
		  		<table class="table table-bordered table-striped" id="item-list">
		  			<thead>
		  				<tr class='info'>
		  					<td>Item #/Description</td>
		  					
		  					<td width="120">Job Number</td>
		  					<td width="120">Quantity: Cost:</td>
		  					
		  					<td width='100'>Sub Total</td>
		  					
		  					<td width='10'>X</td>
		  				</tr>
		  			</thead>
		  			<tbody>
		  				<tr>
		  					<td colspan=6>No Items Added</td>
		  				</tr>
		  			</tbody>
		  		</table>
			  	
			</div>
		</div>
	</div>

	</form>

	<div id="item-container">
		<table id="item-selectable" class="ui-autocomplete ui-widget-content-custom ui-corner-all">
			<thead>
				<tr>
					<th>#</th><th>Item Number</th><th>description</th><th>Currency</th><th>quantity on hand</th><th> Supplier <a href="" class="close">x</a></th>
					
				</tr>
			</thead>
			<tbody>
				<tr class="ui-menu-item" ng-repeat="item in items | googleSearchFilter:search_item">
					
					<td class="select-item">
						<input type='checkbox' name='items' value="{[{item.item_number}]}" >
					</td>
					<td class="item_number">{[{item.item_number}]}</td>
					<td class="item-description">{[{item.description}]}</td>
					<td class="currency">
						{[{item.currency}]}
						<input type="hidden" name="item-currency" data-currency-id="{[{item.currency_id}]}" data-currency="{[{item.currency}]}">
					</td>
					<td class="qonh">{[{item.quantity_on_hand}]}</td>
					<td class="supplier">{[{item.primary_supplier}]}</td>
					
				</tr>
			</tbody>
		</table>
	</div>

	<div id="supplier-container">
		<table id="selectable" class="ui-autocomplete ui-widget-content-custom ui-corner-all">
			<thead>
				<tr>
					<th>#</th><th>ID</th><th>Contact Name</th><th>Address 1</th><th> City <span ng-show="{[{ contact.permission.can_change_contact }]}">Action</span> <a href="" class="close">x</a></th>
				</tr>
			</thead>
			<tbody>
			<tr class="ui-menu-item" ng-repeat="contact in contacts | googleSearchFilter:search_supplier">
				<td>
					<input type="radio" name="contact" value="{[{contact.id}]}">
					<input type="hidden" name="terms" data-terms="{[{contact.terms}]}" data-term-id="{[{contact.term_id}]}">
					<input type="hidden" name="shipvia" data-terms="{[{contact.shipvia}]}" data-shipvia-id="{[{ contact.shipvia_id }]}">

					<div class='phone' ng-repeat="phon in contact.phones">
					<input type="hidden" data-phone-number="{[{phon.number}]}" data-ext="{[{phon.phone_ext}]}" data-phone-type="{[{phon.type}]}">
					</div>
					<div class='emails' ng-repeat="email in contact.emails">
						<input type='hidden' data-email-address='{[{email.email_address}]}' data-email-type='{[{email.email_address_type}]}'>
					</div>
				</td>
				<td class="sid">{[{contact.id}]}</td>
				<td class="contact_name">{[{contact.contact_name}]}</td>
				<td class="address_1">{[{contact.address_1}]}</td>
				<td class="city">
				{[{contact.city}]}
				<input type="hidden" name="city" value="{[{contact.city}]}">
				<input type="hidden" name="country" value="{[{contact.country}]}">
				<input type="hidden" name="province" value="{[{contact.province}]}">
				</td>
				
			</tr>
			</tbody>
		</table>
	</div>

	<div id="supplier-ship-to-container">
		<table id="supplier-ship-to" class="ui-autocomplete ui-widget-content-custom ui-corner-all">
			<thead>
				<tr>
					<th>#</th><th>ID</th><th>Contact Name</th><th> City <a href="" class="close">x</a></th>
				</tr>
			</thead>
			<tbody>
			<tr class="ui-menu-item" ng-repeat="contact in contacts | googleSearchFilter:search_supplier_shipto">
				<td>
					<input type="radio" name="contact" value="{[{contact.id}]}">
					<input type="hidden" name="terms" data-terms="{[{contact.terms}]}" data-term-id="{[{contact.term_id}]}">
					<input type="hidden" name="shipvia" data-terms="{[{contact.shipvia}]}" data-shipvia-id="{[{ contact.shipvia_id }]}">
					<div class='phone' ng-repeat="phon in contact.phones">
					<input type="hidden" data-phone-number="{[{phon.number}]}" data-ext="{[{phon.phone_ext}]}" data-phone-type="{[{phon.type}]}">
					</div>
					<div class='emails' ng-repeat="email in contact.emails">
						<input type='hidden' data-email-address='{[{email.email_address}]}' data-email-type='{[{email.email_address_type}]}'>
					</div>
				</td>
				<td class="sid">{[{contact.id}]}</td>
				<td class="contact_name">{[{contact.contact_name}]}</td>
				<td class="city">
				{[{contact.city}]}
				<input type="hidden" name="contact_name" value="{[{contact.contact_name}]}">
				<input type="hidden" name="contact_id" value="{[{contact.id}]}">
				
				</td>
				
			</tr>
			</tbody>
		</table>
	</div>


</section>

</div>

{% include "modals/add-modal.html" %}


<!-- supplier box js -->
<script type="text/javascript">
// static items_data;
(function(){
	$(".datepicker").datepicker();
$(document).on("change", "input.decimal", function(e){
	var myval = parseFloat($(this).val())
	$(this).val(myval.toFixed(2));
})
	// ========= Supplier ===========
		$("select#id_supplier").hide();
		var str1 = "<input type=text name='primary_supplier_demo' placeholder='Start typing to search for supplier' id='id_primary_supplier_demo' class='form-control custom-form-control' ng-model='search_supplier' autocomplete='off'>";
		var str2 = '<a href="/admin/contacts/contact/add/" class="add-another" id="add_id_primary_supplier"> <img src="/statics/admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another"></a><div id="contact_info"></div>'
		$("select#id_supplier").closest("td").append(str1+str2);

		$("a#add_id_primary_supplier").on("click", function(e){
			e.preventDefault();
			url = "/contacts/add/rel_item/",
			mdal = $('#addModal');
			mdal.on("shown.bs.modal", function(){
				$("#addModal .modal-content").load(url);
				// console.log(url);
			}).modal();
			return false;
		});
		$("a.close").on("click", function(){
			$(this).closest('table').hide();
		});

		// Ship To google search =================
		$("select#id_ship_to").hide();
		var ship_to_str1 = "<input type=text name='ship_to_show_value' id='id_ship_to_show_value' class='form-control custom-form-control2' disabled>";
		var ship_to_str2 = "<input type=text name='ship_to_demo' id='id_ship_to_demo' class='form-control custom-form-control3' placeholder='Start typing to search ship to' ng-model='search_supplier_shipto' autocomplete='off'>";
		$("select#id_ship_to").closest("td").append(ship_to_str1+ship_to_str2);

		$(document).on("click", "#supplier-ship-to input[type='radio']", function(e){
			var contact_name = $(this).closest('tr').find("input[name=contact_name]").val();
			var contact_id = $(this).closest('tr').find("input[name=contact_id]").val();
			// console.log(contact_name);
			$("#id_ship_to_show_value").val(contact_name);
			$("#id_ship_to").val(contact_id);
			$("#id_ship_to_demo").val('');
			$("#supplier-ship-to").hide();


		});


		$(document).on("click", "#selectable input[type='radio']", function(e){
			
			var id = $(this).val();
			var po_number = $("#id_po_number").val();
			// console.log(po_number);
			// console.log('Testing...');
			
			var c_n = $(this).closest('tr').find("td.contact_name").text();
			var a_1 = $(this).closest('tr').find("td.address_1").text();
			
			var city = $(this).closest('tr').find("input[name=city]").val();
			var country = $(this).closest('tr').find("input[name=country]").val();
			var province = $(this).closest('tr').find("input[name=province]").val();

			var term_id = $(this).closest('tr').find("input[name=terms]").data('term-id');
			var shipvia_id = $(this).closest('tr').find("input[name=shipvia]").data('shipvia-id');

			// console.log(term_id);
			// console.log(shipvia_id);

			$("select#id_terms").val(term_id);
			$("select#id_ship_via").val(shipvia_id);
			
			var phone_str = '<ul class="phone-list-ul">';

			$(this).closest('tr').find("div.phone input").each(function( index ){
				var phtype = $(this).data('phone-type');
				var number = $(this).data('phone-number');
				var ext = $(this).data('ext');
				
				phone_str += '<li>' + phtype + ' - ' + number + ' ( ext- ' + ext + ' ) ' + '</li>';

			});
			phone_str += "</ul>";

			var email_str = '<ul class="email-list-ul">';

			$(this).closest('tr').find("div.email input").each(function( index ){
				var etype = $(this).data('email-type');
				var email_address = $(this).data('email-address');
				
				email_str += '<li>' + etype + ' - ' + email_address + '</li>';

			});
			email_str += "</ul>";
			
			var str = ''
			if(c_n != '') {
				str += c_n;
			}

			// console.log(str);

			$("select#id_supplier option[value='"+ id.trim()+"']").prop("selected", true);
			$("#id_primary_supplier_demo").val(str);


			var txt = '';
			txt += "<p class='bg-info'><b class='left-info'>Contact Name</b> : "+ c_n + "</p>";
			txt += "<p class='bg-info'><b class='left-info'>Address</b> : "+ a_1 + "</p>";
			txt += "<p class='bg-info'><b class='left-info'>City</b> : " + city + "</p>";
			txt += "<p class='bg-info' id='aaaaa'><b class='left-info'>Supplier Contact</b> :  </p>";
			txt += "<p class='bg-info' id='cemail'><b class='left-info'>Supplier Email</b> :  </p>";

			$.get("/purchase/po-extra-contact/"+po_number+"/", function(data){
				$("#contact_info").append(data);
			});
			txt += "<a href='' class='btn btn-primary' id='po-contact'>Add Extra Contact</a>";

			
			

			$("#contact_info").html(txt);
			$("#aaaaa").append(phone_str);
			$("#cemail").append(email_str);

			var fob = '';
			if(province != '' && city != undefined) {
				fob += province;
			}
			if(city != '' && city != undefined) {
				fob += ', ' + city;
			}
			if(country != '' && city != undefined) {
				fob += ', ' + country;
			}

			if(fob == '') {
				fob = 'Not Defined';
			}

			$("#id_fob").val(fob);

			$("#selectable").hide();

		});

		$(document).on("click", "#selectable a.edit-contact", function(e){
			e.preventDefault();
			var cid = $(this).data("id");

			url = "/contacts/edit/basic/" + cid + "/",
			mdal = $('#addModal');
			mdal.on("shown.bs.modal", function(){
				$("#addModal .modal-content").load(url);
				// console.log(url);
			}).modal();
			return false;
		
		});

		$(document).on("click", "a#po-contact", function(e){
			e.preventDefault();
			// alert('hello');
			var po_number = $("#id_po_number").val();
			url = "/purchase/add-po-contact/"+po_number+"/",
			mdal = $('#addModal');
			mdal.on("shown.bs.modal", function(){
				$("#addModal .modal-content").load(url);
				
				// console.log(url);
			}).modal();
			return false;
		});
		$(document).on("click", "a.delete-extra-contact", function(e){
			e.preventDefault();
			var poecid = $(this).data("pecid");
			// var url = "/purchase/delete-po-contact/";
			$.ajax({
				type: "POST",
				url: "/purchase/delete-po-contact/",
				
				data: {
					'poecid': poecid,
				},
				success: function(rdata) {
					
					$("a[data-pecid='"+rdata+"']").closest("tr").remove();
	                
	                // window.location.reload(false);
	                // win = window.open("",'_blank');
	                // win.location.href = "/contacts/edit/" + rdata + "/";

	            }
			});
		})
	// ========= End Supplier =======

	
})(jQuery)

</script>

<!-- Item search box js -->
<script type="text/javascript">


	var firstitem = false;
	var item_count = 0;

	$(document).on("change", "#item-selectable input[type='checkbox']", function(e){
		// e.preventDefault();
		// console.log($(this).is(':checked'));
		var item_number = $(this).closest('tr').find("td.item_number").text();
		
		var item_desc = $(this).closest('tr').find("td.item-description").text();
		var item_currency = $(this).closest('tr').find("input[name='item-currency']").data('currency');
		var item_currency_id = $(this).closest('tr').find("input[name='item-currency']").data('currency-id');
	

		if($(this).is(':checked')) {

			if(item_number != '') {
				
				var itemstr = "<tr><td><p class='item-number'><b>Item #</b>: "+item_number+"</p><hr><p class='item-desc'><b>"+item_desc+"</b></p><input type='hidden' name='item_item' value='"+item_number+"'></td>";
				var jobnumber = "<td><input type='text' class='form-control item-job-number' name='item_job_number' placeholder='Start typing to search job'><input type='hidden' name='item_job_id' class='item_job_id'></td>";
				var qtystr = "<td><input type='number' class='form-control item-qty decimal' name='item_qty' step='0.01' value='0'><br><input type='currency' class='form-control item-cost' step='0.0001' name='item_cost' value=''></td>";
				
				var totaltstr = "<td><input type='currency' step='0.0001' class='form-control item-total' name='item_sub_total'></td>";
				// var item_recv = "<td><input type='text' class='form-control item-recv' name='item_recv'></td>";
				var remove = "<td><a href='#' class='remove-item'><span class='glyphicon glyphicon-remove'></span></a></td></tr>";

				
				
				if(firstitem == false && item_count == 0) {
					$("table#item-list tbody").html(itemstr+jobnumber+qtystr+totaltstr+remove);
					$("#id_po_currency").val(item_currency_id);
					first_item_currency = item_currency;
					item_count++;
					
					firstitem = true;	
				} else {

					if (item_currency == first_item_currency) {
						$("table#item-list tbody").append(itemstr+jobnumber+qtystr+totaltstr+remove);
						item_count++;
					} else {
						$(this).attr("checked", false);
						alert('Currency does not match. Please select items with the same currency');
						
					}
				}
				
			}

		$( "input[name='item_job_number']" ).autocomplete({
	      source: "/schedule/list-filter/",
	      _renderItem: function( ul, item ) {
			  return $( "<li>" )
			    .attr( "data-value", item.value )
			    .append( $( "<a>" ).text( item.label ) )
			    .appendTo( ul );
			},
			select: function( event, ui ) {
				console.log(ui.item.id);
				// $(this).attr("data-id", ui.id);
				
				$(event.target).siblings("input.item_job_id").val(ui.item.id);
			}
	    });

		} else {
			$("table#item-list input[value='"+item_number+"']").closest('tr')[0].remove();
		}
		
		// return false;

	
	});

	$(document).on("click", "a.remove-item", function(e){
		e.preventDefault();
		$(this).closest('tr').remove();
		$("#id_total_po_amount").val('');
	})

	
	

	$("a#add_id_item").on("click", function(e){
		e.preventDefault();
		
		
		return false;
	});

	var itemtotal = 0;
	var itemsubtotal = 0;
	$(document).on("change", "input[name='item_qty']", function(e){
		var qty = parseInt($(this).val());
		var cost = $(this).closest('tr').find('input[name="item_cost"]').val();
		var total = qty * parseFloat(cost).toFixed(4);
		$(this).closest('tr').find("input[name='item_sub_total']").val(total);

		$("table#item-list tbody tr input[name='item_sub_total']").each(function(index){
			var subtotal = $(this).val();
			itemtotal = itemtotal + parseFloat(subtotal);
			// console.log(itemtotal);
		});
		$("table#item-list tbody tr input[name='item_qty']").each(function(index){
			var subtotal_qty = $(this).val();
			itemsubtotal = itemsubtotal + parseFloat(subtotal_qty);
			// console.log(subtotal_qty);
			// console.log(itemsubtotal);
		});
		$("#id_items_total").val(itemsubtotal);

		$("#id_total_po_amount").val(itemtotal);
		// $(this).val(qty);
		itemtotal = 0;
		itemsubtotal = 0;
	});

	$(document).on("change", "input[name='item_cost']", function(e){
		var cost = $(this).val();
		var costf = parseFloat(cost).toFixed(4);
		var qty = parseFloat($(this).closest('tr').find('input[name="item_qty"]').val());
		var total = qty * costf;
		$(this).closest('tr').find("input[name='item_sub_total']").val(total.toFixed(4));

		$("table#item-list tbody tr input[name='item_sub_total']").each(function(index){
			var subtotal = $(this).val();
			itemtotal = itemtotal + Number(subtotal);
			// console.log(itemtotal);
		});
		$("#id_total_po_amount").val(itemtotal);
		$(this).val(costf);
		itemtotal = 0;

	});

	// $(document).on("change", "input[name='item_qty']", function(e){
	// 	var qty = $(this).val();
	// 	var fqty = parseInt(qty);
	// 	// console.log(costf);
		
	// });

	$(document).on("change", "input[name='item_sub_total']",function(e){
		$("table#item-list tbody tr input[name='item_sub_total']").each(function(index){
			var subtotal = $(this).val();
			itemtotal = itemtotal + Number(subtotal);
			// console.log(itemtotal);
		});
		$("#id_total_po_amount").val(itemtotal.toFixed(4));
		$(this).val(itemtotal.toFixed(4));
		itemtotal = 0;
	});

	

	$("#item-selectable a.close").on("click", function(){
		$("#item-selectable").hide();
		$("#id_item_demo").val("");
	});


</script>

<script type="text/javascript">
premierApp.controller('AddPOController',['$scope', '$http', function ($scope, $http) {
	
	$scope.init = function() {

		var ship_to_contact = $("select#id_ship_to option:selected").text();
		$("#id_ship_to_show_value").val(ship_to_contact);

		$http({method: 'GET', url: "/inventory/items/"}).
            success(function(data, status, headers, config) {
                // console.log(data);
                $scope.items = data;
            });

        $http({method: 'GET', url: "/contacts/list/"}).
            success(function(data, status, headers, config) {
                console.log(data);
                $scope.contacts = data;
            });

        $("#selectable").hide();
        $("#item-selectable").hide();
        $("#supplier-ship-to").hide();
	};

	$scope.init();

	$scope.$watch('search_supplier', function (newValue, oldValue) {
        if(newValue != undefined) {
        	if(newValue.length > 1) {
        		$( "#supplier-container" ).css('width', function(){
        			var wid = $(this).innerWidth();
        			console.log(wid);
        			return wid;
        		}).position({
					my: "left top-1",
					at: "left bottom",
					of: "#id_primary_supplier_demo",
					collision: "fit"
				});

        		$("#selectable").show();
        	} else {
        		$("#selectable").hide();
        	}
        } 
    });


    $scope.$watch('search_supplier_shipto', function (newValue, oldValue) {
        if(newValue != undefined) {
        	if(newValue.length > 1) {
        		$( "#supplier-ship-to-container" ).css('width', function(){
        			var wid = $(this).innerWidth();
        			// console.log(wid);
        			return wid;
        		}).position({
					my: "left top-1",
					at: "left bottom",
					of: "#id_ship_to_demo",
					collision: "fit"
				});

        		$("#supplier-ship-to").show();
        	} else {
        		$("#supplier-ship-to").hide();
        	}
        } 
    });

    $scope.$watch('search_item', function (newValue, oldValue) {
        if(newValue != undefined) {
        	if(newValue.length > 1) {
        		$( "#item-container" ).css('width', function(){
        			var wid = $(this).innerWidth();
        			// console.log(wid);
        			return wid;
        		}).position({
					my: "left top-1",
					at: "left bottom",
					of: "#search_item",
					collision: "fit"
				});

        		$("#item-selectable").show();
        	} else {
        		$("#item-selectable").hide();
        	}
        } 
    });


}]);
</script>
{% endblock content %}
	
