{% extends "base.html" %}

{% block angular %}
	<script type="text/javascript" src="/statics/js/angular.min.js"></script>
	<script type="text/javascript" src="/statics/js/bootstrap-multiselect.js"></script>
	<link rel="stylesheet" href="/statics/css/bootstrap-multiselect.css" type="text/css"/>
	<script type="text/javascript" src="/statics/js/ui-bootstrap-0.9.0.min.js"></script>
{% endblock angular %}

{% block content %}
<div class="container-fluid" ng-app="poApp">
{% if messages %}
<section id="message">
	{% for message in messages %}
    	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</section>
{% endif %}

<section class="row " ng-controller="AddPOController">
<article class="col-md-12">
	<div class="panel panel-primary">
		<div class="panel-heading">
	    	<h4>Add Purchase Order</h4>
	  	</div>
		<div class="panel-body">

			<form name='purchase-add-form' action="/purchase/add-po/" method="POST" enctype="multipart/form-data">	
			{% include "purchase/partials/add-po-form.html" %}
			</form>
		</div>
	</div>
</article>
</section>
</div>

<script type="text/javascript">

</script>
{% endblock %}