{% extends "base.html" %}

{% block angular %}
	<script type="text/javascript" src="/statics/js/angular.min.js"></script>
	<script type="text/javascript" src="/statics/js/angular-route.min.js"></script>	

	<script type="text/javascript" src="/statics/js/bootstrap-multiselect.js"></script>
	<link rel="stylesheet" href="/statics/css/bootstrap-multiselect.css" type="text/css"/>
{% endblock angular %}

{% block content %}
<style>
.contact_box, .item_box {
	position: relative;
}
table#sold_to_contact_details, table#ship_to_contact_details {
	margin-top: 10px;
}
table#sold_to_contact_details th, table#ship_to_contact_details th{
	background-color: #83AD9E;
}
table > thead {
	background-color: #83AD9E;
}
table > tbody {
	background-color: #FFF;
}
#ship_to_contact_list, #sold_to_contact_list, #items_list {
	position: absolute;
	top: 35px;
	left: 0px;
	background-color: #DDD;
	z-index: 1000;
	/*border: 1px solid #000;*/
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
}
.sold_to_contact tbody tr:hover, .ship_to_contact tbody tr:hover {
	background-color: #616183;
}
table#items_list {
	width: 940px;
}
#items_list tbody tr:hover{
	background-color: #CCC;
}
.bg-hello {
	background-color: #777;
}
p.item_desc {
	min-height: 34px;
	margin-bottom: 0px;
	padding: 5px;
}
.glyphicon {
	color: red;
}
</style>
<div class="container-fluid shadow4 main-body" ng-app="slApp">

<section class="row " ng-controller="AddSLController">
	<form action="/purchase/add-sl/" method="POST" enctype="multipart/form-data">{% csrf_token %}
	
	<div class="col-md-12">
		
		<div class="panel panel-primary">
			<div class="panel-heading">
		    	<h4>Add Shipping List</h4>
		  	</div>
		  	<div class="panel-body">

				{% include "purchase/partials/add-sl-form.html" %}
				
			</div>
		</div>
		
	</div>
	<div class="col-md-6 col-md-offset-3">
		<button type="submit" class="btn btn-primary form-control">Add Shipping List</button>	
	</div>
	</form>
	
		
</section>

</div>
<!-- SL Number -->
<script type="text/javascript">
(function(){
	$(".datepicker").datepicker();
	$("a.close").on("click", function(){
		$(this).closest('table').hide();

	});
	$( "input[name='item_job_number']" ).autocomplete({
	  source: "/schedule/list-filter/",
	  _renderItem: function( ul, item ) {
            console.log(ul)
		  return $( "<li>" )
		    .attr( "data-value", item.value )
		    .append( $( "<a>" ).text( item.label ) )
		    .appendTo( ul );
		},
		select: function( event, ui ) {
			console.log(ui.item.id);
			// $(this).attr("data-id", ui.id);
			
			$(event.target).siblings("input#id_job_number").val(ui.item.id);
		}
	});

})(jQuery)
</script>


<script type="text/javascript">
var slApp = angular.module("slApp", [], function ($interpolateProvider) {
        $interpolateProvider.startSymbol("{[{");
        $interpolateProvider.endSymbol("}]}");
});
slApp.filter('googleSearchFilter', function(){
    return function(items, token) {
        
        if(token != undefined && token != "") {
            var output=[];
            var filter_output = [];
            output = items;
            // console.log(output);
            
            var searchArr = token.split(" ");

            for(var j=0; j<searchArr.length; j++) {

                for(var i=0; i<output.length; i++) {
                    // console.log(output[i]);
                    var search_str = output[i].search_string;
                    // We can remove this if statement when all is updated.
                    // console.log(search_str);
                    if (search_str != null) {
                        var n = search_str.search(new RegExp(searchArr[j], "i"));    
                        // console.log('search_str is not null');
                    }
                    // console.log(n);
                    if(n != -1) {
                        filter_output.push(output[i]);
                    }

                }
                output = filter_output;
                filter_output = [];  
            }
            
            return output;

        } else {
            return items;
        }   
    }
});
slApp.controller('AddSLController',['$scope', '$http','$compile', function ($scope, $http, $compile) {
	
	$scope.init = function() {


		$http({method: 'GET', url: "/inventory/items/"}).
            success(function(data, status, headers, config) {
                // console.log(data);
                $scope.items = data;
            });

        $http({method: 'GET', url: "/contacts/list/"}).
            success(function(data, status, headers, config) {
                // console.log(data);
                $scope.contacts = data;
            });

        $http({method: 'GET', url: "/schedule/all-jobs/"}).
            success(function(data, status, headers, config) {
                // console.log(data);
                $scope.jobs = data;
            });

        $http({method: 'GET', url: "/purchase/list/"}).
            success(function(data, status, headers, config) {
                // console.log(data);
                $scope.pos = data;
            });

        $("#sold_to_contact_list").hide();
        $("#sold_to_contact_details").hide();

        $("#ship_to_contact_list").hide();
        $("#ship_to_contact_details").hide();

        $("#items_list").hide();
        
        // $("#ship-to-container").hide();
	};

	$scope.init();

	$scope.$watch('search_sold_to', function (newValue, oldValue) {
        if(newValue != undefined) {
        	if(newValue.length > 1) {
        		$("#sold_to_contact_list").show();
        		console.log(newValue);
        	} else {
        		$("#sold_to_contact_list").hide();
        	}
        }
    });

    $scope.$watch('search_ship_to', function (newValue, oldValue) {
        if(newValue != undefined) {
        	if(newValue.length > 1) {
        		$("#ship_to_contact_list").show();
        		console.log(newValue);
        	} else {
        		$("#ship_to_contact_list").hide();
        	}
        } 
    });

	$scope.selectShipTo = function(con) {
		$("#ship_to_contact_list").hide();
		$scope.search_ship_to = ""
		$scope.ship_to_contact = con;
		$("#id_ship_to").val(con.id);
		$("#ship_to_contact_details").show();


	};
    $scope.selectSoldTo = function(con) {
		$("#sold_to_contact_list").hide();
		$scope.search_ship_to = ""
		$scope.sold_to_contact = con;
		$("#id_sold_to").val(con.id);
		$("#sold_to_contact_details").show();


	};


    $scope.$watch('search_purchase_order', function (newValue, oldValue) {
        if(newValue != undefined) {
        	if(newValue.length > 1) {
        		
        		$("#po-list").show();
        	} else {
        		$("#po-list").hide();
        	}
        } 
    });
    $scope.searchItem = function(q) {
		if(q.length > 1) {
			console.log(q);
			$http({method: 'GET', url: "/inventory/items/"}).
	        	success(function(data, status, headers, config){
	        	$scope.items = data;
	        });
			$("#items_list").show();
		} else {
			$("#items_list").hide();
		}
		
	}
	$scope.selectItem = function(item) {
    	$scope.search_item = '';

    	$("#items_list").hide();
    	var myitem = $("tbody#add_item_list tr.add_item");
    	var item_number = item.item_number;
    	var item_description = item.description;
    	var item_id = item.id;
    	var currency_id = item.currency_id;
    	// console.log(unit_measure_id);
    	// var item_qty_received = parseFloat(item.qty_received).toFixed(4);
    	// var last_received_date = item.qty_received_date;

    	var item_qty_received = 0.00;
    	var last_received_date = null;
    	// console.log(item.qty_received_date);
    	var wholesale_cost = item.wholesale_cost;

    	if($scope.first_currency_id === undefined){
    		$scope.first_currency_id = currency_id;
    		$("#id_po_currency").val(currency_id);
    	}
    	if($scope.first_currency_id != currency_id){
    		alert("Currency not matched!");
    		return;
    	}
    	

    	var item_count = myitem.length;

    	if(item_number == undefined) {
    		alert("Please choose an item first.");
    		return;
    	}

    	if(item_count > 0) {
    		try{
	    		myitem.each(function(index){
	    			var myval = $(this).find("input[name='added_item_number']").val();
	    			if(myval == item_number){
	    				alert("This item already added.");
	    				throw 'duplicate';
	    			}
	    			
	    		});
	    	} catch(e) {
	    		console.log(e);
	    		return;

	    	}
			
    	}
    	
    	var str = "<tr class='add_item'>";
    	str += "<td><input type='text' class='form-control added_item_number' name='added_item_number' value='"+item_number+"' readonly></td>";
    	str += "<td><p class='bg-info item_desc'>"+item_description+"</p></td>";
    	
    	str += "<td><input type='number' name='item_ordered' class='form-control demo_box' placeholder='Ordered'></td>";

    	str += "<td><input type='number' name='item_shipped' class='form-control demo_box' placeholder='Shipped today'></td>";

    	str += "<td><input type='number' name='shipped_total_to_date' class='form-control demo_box' placeholder='Shipped total to date' readonly></td>";

    	str += "<td><input type='text' name='item_backordered' class='form-control demo_box' placeholder='Backordered' autocomplete='off' readonly></td>";

    	str += "<td><input type='text' class='form-control demo_box' placeholder='Last shipped' autocomplete='off' readonly></td>";

    	str += "<td><input type='text' class='form-control' placeholder='PL Number' readonly='readonly'></td>";

    	str += "<td><a class='remove-item btn' ng-click='removeField($event)'><span class='glyphicon glyphicon-remove'></span></a></td>";
    	str += "</tr>";
    	
    	var element = $compile(str)($scope);

    	// if(item_count == 0){
    	// 	$("tbody#add_item_list").html(element);
    	// } else {
    	// 	$("tbody#add_item_list").append(element);
    	// }
    	$("tbody#add_item_list").prepend(element);

	    
    }

    $scope.removeField = function (event) {
        // $(event.target).closest('tr').remove();
        var myitem = $("tbody#add_item_list tr.add_item");
        
		$(event.target).closest('tr').remove();
		

	
    };



}]);
</script>
{% endblock content %}
	
