{% extends "base.html" %}

{% block angular %}
    <script type="text/javascript" src="/statics/js/angular.min.js"></script>
    <script type="text/javascript" src="/statics/js/angular-route.min.js"></script> 

    <script type="text/javascript" src="/statics/js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="/statics/css/bootstrap-multiselect.css" type="text/css"/>
{% endblock angular %}

{% block content %}
<style>
.contact_box, .item_box {
    position: relative;
}
table#sold_to_contact_details, table#ship_to_contact_details {
    margin-top: 10px;
}
table#sold_to_contact_details th, table#ship_to_contact_details th{
    background-color: #83AD9E;
}
table > thead {
    /*background-color: #83AD9E;*/
    
}
table > tbody {
    background-color: #FFF;
}
#ship_to_contact_list thead, #sold_to_contact_list thead {
    color: #FFF;
    background-color: #ed791a;
    font-size: 16px;
}
#ship_to_contact_list tbody, #sold_to_contact_list tbody {
    color: #FFF;
    background-color: #333;
    font-size: 14px;
}
#ship_to_contact_list, #sold_to_contact_list {
    position: absolute;
    top: 34px;
    left: 0px;
    /*background-color: #ed791a;*/
    z-index: 1000;
}
#items_list{
    position: absolute;
    top: 45px;
    left: 5px;
    
    z-index: 1000;
    /*border: 1px solid #000;*/
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
}
#items_list thead {
    background-color: #000;
    color: #FF0;
}
.sold_to_contact tbody tr:hover, .ship_to_contact tbody tr:hover {
    background-color: #616183;
}
table#items_list {
    width: 940px;
}
#items_list tbody tr:hover{
    background-color: #CCC;
}
.bg-hello {
    background-color: #777;
}
p.item_desc {
    min-height: 34px;
    margin-bottom: 0px;
    padding: 5px;
}
.glyphicon {
    color: red;
}
#sl_list, #job_list {
    position: absolute;
    width: 100%;
    z-index: 100;
}
#sl_list table {
    border: 1px solid #000;
}
#sl_list tbody tr:hover {
    background-color: #CCC;
}
#sl_list thead {
    background-color: #ed791a;
    color: #FFF;
    font-size: 16px;
    font-style: bold;
}
#sl_list ul {
    padding-left: 0px;
    list-style: none;
}
a.close {
    opacity: 1!important;
    color: red !important;
}
</style>
<div class="container-fluid shadow4 main-body" ng-app="slApp">

<section class="row " ng-controller="AddSLController">
    <form action="/purchase/edit-sl/{{sl.sl_number}}/" method="POST" enctype="multipart/form-data">{% csrf_token %}
    
    <div class="col-md-12">
        
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Edit Shipping List</h4>
            </div>
            <div class="panel-body">

                {% include "purchase/partials/edit-sl-form.html" %}
                
            </div>
        </div>
        
    </div>
    <div class="col-md-6 col-md-offset-3">
        <button type="submit" class="btn btn-primary form-control">Update Shipping List</button>   
    </div>
    </form>
    
        
</section>

</div>
<!-- SL Number -->
<script type="text/javascript">
(function(){
    $(".datepicker").datepicker();
    $("a.close").on("click", function(){
        $(this).closest('table').hide();

    });
    

})(jQuery)
</script>


<script type="text/javascript">
var slApp = angular.module("slApp", [], function ($interpolateProvider) {
        $interpolateProvider.startSymbol("{[{");
        $interpolateProvider.endSymbol("}]}");
});

slApp.controller('AddSLController',['$scope', '$http','$compile', function ($scope, $http, $compile) {
    
    $scope.init = function() {


        $http({method: 'GET', url: "/inventory/items/"}).
            success(function(data, status, headers, config) {
                // console.log(data);
                $scope.items = data;
            });

        $http({method: 'GET', url: "/schedule/all-jobs/"}).
            success(function(data, status, headers, config) {
                // console.log(data);
                $scope.jobs = data;
            });

        $http({method: 'GET', url: "/purchase/list/"}).
            success(function(data, status, headers, config) {
                // console.log(data);
                $scope.pos = data;
            });

        $("#sold_to_contact_list").hide();
        $("#sold_to_contact_details").hide();

        $("#ship_to_contact_list").hide();
        $("#ship_to_contact_details").hide();

        $("#items_list").hide();

        $scope.show_sl_list = false;
        $scope.show_job_list = false;
        $scope.sl_checked = true;
        var sln = $("#id_sl_number").val();

        $scope.search_sl = sln;

        $http({method: 'GET', url: "/purchase/sl/"+sln+"/json/"}).
            success(function(data, status, headers, config) {
                console.log(data);
                if(data.ship_to){
                    $scope.ship_to_contact = data.ship_to;
                    $("#id_ship_to").val(data.ship_to.id);
                    $("#ship_to_contact_details").show();    
                }
                
                if(data.sold_to){
                    $scope.sold_to_contact = data.sold_to;
                    $("#id_sold_to").val(data.sold_to.id);
                    $("#sold_to_contact_details").show();    
                }

                $("#id_ordered_date").val(data.ordered_date);
                $("#id_date_required").val(data.date_required);
                $("#id_customer_po_number").val(data.customer_po_number);
                $("#id_customer_job_number").val(data.customer_job_number);
                $("#id_ship_via").val(data.ship_via_id);

                var items = data.items;
                // console.log(items);
                var myitem = $("tbody#add_item_list tr.add_item");
                for(i=0; i< items.length ; i++) {
                    var str = "<tr class='add_item'>";
                    str += "<td><input type='text' class='form-control added_item_number' name='added_item_number' value='"+items[i].item_number+"' readonly></td>";
                    str += "<td><p class='bg-info item_desc'>"+items[i].description+"</p></td>";
                    
                    str += "<td><input type='number' name='item_ordered' class='form-control demo_box' placeholder='Ordered' value='"+items[i].ordered+"'></td>";

                    str += "<td><input type='number' name='item_shipped' class='form-control demo_box' placeholder='Shipped today' value='"+items[i].shipped+"' readonly></td>";

                    str += "<td><input type='number' name='shipped_total_to_date' class='form-control demo_box' placeholder='Shipped total to date' readonly value='"+items[i].shipped_total_to_date+"'></td>";

                    str += "<td><input type='text' name='item_backordered' class='form-control demo_box' placeholder='Backordered' value='"+items[i].backordered+"' autocomplete='off' readonly></td>";

                    str += "<td><input type='text' class='form-control demo_box' value='"+items[i].last_shipped+"' placeholder='Last shipped' autocomplete='off' readonly></td>";

                    str += "<td><input type='text' class='form-control' placeholder='PL Number' readonly='readonly'></td>";

                    str += "<td><a class='remove-item btn' data-item-id='"+items[i].sl_item_id+"' ng-click='deleteField($event)'><span class='glyphicon glyphicon-remove'></span></a></td>";
                    str += "</tr>";
                    
                    var element = $compile(str)($scope);

                    $("tbody#add_item_list").prepend(element);

                }
                

            });

        
        // $("#ship-to-container").hide();
    };

    $scope.init();

    $scope.searchJob = function(q) {
        if(q.length > 1) {
            url = "/schedule/job/search/?q=" + q
            $http({method: 'GET', url: url}).
                success(function(data, status, headers, config) {
                    console.log(data);
                    $scope.jobs = data;
                });            
            $scope.show_job_list = true;
            
        } else {
            $scope.show_job_list = false;
        }
    }

    $scope.selectJob = function(job) {
        $("#id_job_number").val(job.job_id);
        $scope.search_job = job.job_number;
        $scope.show_job_list = false;
    }

    $scope.searchShipTo  = function(q) {
        if(q.length > 1) {
            url = "/contacts/auto/?q=" + q
            $http({method: 'GET', url: url}).
                success(function(data, status, headers, config) {
                    console.log(data.results);
                    $scope.shipto = data.results;
                });
            $("#ship_to_contact_list").show();
            
            
        } else {
            $("#ship_to_contact_list").hide();
        }
    }

    $scope.selectShipTo = function(con) {
        $("#ship_to_contact_list").hide();
        $scope.search_ship_to = ""
        $scope.ship_to_contact = con;
        $("#id_ship_to").val(con.id);
        $("#ship_to_contact_details").show();


    };

    $scope.searchSoldTo  = function(q) {
        if(q.length > 1) {
            url = "/contacts/auto/?q=" + q
            $http({method: 'GET', url: url}).
                success(function(data, status, headers, config) {
                    console.log(data.results);
                    $scope.soldto = data.results;
                });
            $("#sold_to_contact_list").show();
            
            
        } else {
            $("#sold_to_contact_list").hide();
        }
    }

    $scope.selectSoldTo = function(con) {
        $("#sold_to_contact_list").hide();
        $scope.search_sold_to = '';
        $scope.sold_to_contact = con;
        $("#id_sold_to").val(con.id);
        $("#sold_to_contact_details").show();


    };

    $scope.searchItem = function(q) {
        if(q.length > 1) {
            console.log(q);
            $http({method: 'GET', url: "/inventory/items/"}).
                success(function(data, status, headers, config){
                $scope.items = data;
            });
            $("#items_list").show();
        } else {
            $("#items_list").hide();
        }
        
    }
    $scope.selectItem = function(item) {
        $scope.search_item = '';
        console.log(item);
        $("#items_list").hide();
        var myitem = $("tbody#add_item_list tr.add_item");
        var item_number = item.item_number;
        var item_description = item.description;
        var item_id = item.id;
        var currency_id = item.currency_id;
        // console.log(unit_measure_id);
        // var item_qty_received = parseFloat(item.qty_received).toFixed(4);
        // var last_received_date = item.qty_received_date;

        var item_qty_received = 0.00;
        var last_received_date = null;
        // console.log(item.qty_received_date);
        var wholesale_cost = item.wholesale_cost;

        if($scope.first_currency_id === undefined){
            $scope.first_currency_id = currency_id;
            $("#id_po_currency").val(currency_id);
        }
        if($scope.first_currency_id != currency_id){
            alert("Currency not matched!");
            return;
        }
        

        var item_count = myitem.length;

        if(item_number == undefined) {
            alert("Please choose an item first.");
            return;
        }

        if(item_count > 0) {
            try{
                myitem.each(function(index){
                    var myval = $(this).find("input[name='added_item_number']").val();
                    if(myval == item_number){
                        alert("This item already added.");
                        throw 'duplicate';
                    }
                    
                });
            } catch(e) {
                console.log(e);
                return;

            }
            
        }
        
        var str = "<tr class='add_item'>";
        str += "<td><input type='text' class='form-control added_item_number' name='added_item_number' value='"+item_number+"' readonly></td>";
        str += "<td><p class='bg-info item_desc'>"+item_description+"</p></td>";
        
        str += "<td><input type='number' name='item_ordered' class='form-control demo_box' placeholder='Ordered'></td>";

        str += "<td><input type='number' name='item_shipped' class='form-control demo_box' placeholder='Shipped today' readonly></td>";

        str += "<td><input type='number' name='shipped_total_to_date' class='form-control demo_box' placeholder='Shipped total to date' readonly></td>";

        str += "<td><input type='text' name='item_backordered' class='form-control demo_box' placeholder='Backordered' autocomplete='off' readonly></td>";

        str += "<td><input type='text' class='form-control demo_box' placeholder='Last shipped' autocomplete='off' readonly></td>";

        str += "<td><input type='text' class='form-control' placeholder='PL Number' readonly='readonly'></td>";

        str += "<td><a class='remove-item btn' ng-click='removeField($event)'><span class='glyphicon glyphicon-remove'></span></a></td>";
        str += "</tr>";
        
        var element = $compile(str)($scope);

        // if(item_count == 0){
        //  $("tbody#add_item_list").html(element);
        // } else {
        //  $("tbody#add_item_list").append(element);
        // }
        $("tbody#add_item_list").prepend(element);

        
    }

    $scope.removeField = function (event) {
        // $(event.target).closest('tr').remove();
        var myitem = $("tbody#add_item_list tr.add_item");
        var removed_item_id = event.currentTarget.attributes[1].value;
        console.log(event.currentTarget.attributes[1].value);
        
        $(event.target).closest('tr').remove();
    };

    $scope.deleteField = function (event) {
        // $(event.target).closest('tr').remove();
        var myitem = $("tbody#add_item_list tr.add_item");
        var removed_item_id = event.currentTarget.attributes[1].value;
        console.log(event.currentTarget.attributes[1].value);
        
        $(event.target).closest('tr').remove();

        var removed_item = "<input type='hidden' name='removed_item' value='"+removed_item_id+"'>";
        $("#add_item_list tr.removed_item").append(removed_item);
        
    };

    $scope.selectSL = function(sl){
        console.log(sl);
        
        $scope.search_sl = sl.sl_number;
        $scope.sl_checked = true;
        $scope.show_sl_list = false;
        
        $("#id_sl_number").val(sl.sl_number);
        $("#id_item_job_number").val(sl.job_number);
        $("#id_job_number").val(sl.job_number_id);

        if(sl.sold_to){
            $("#sold_to_contact_details").show();
            $scope.sold_to_contact = sl.sold_to;
            $("#id_sold_to").val(sl.sold_to.id);  
            
        }
        
        if(sl.ship_to){
            $("#ship_to_contact_details").show();
            $scope.ship_to_contact = sl.ship_to;
            $("#id_ship_to").val(sl.ship_to.id);    
        }
        

        
        
    }

}]);
</script>
{% endblock content %}
    
