<style type="text/css">
	.ui-dialog-buttonset button {
		color: #000 !important;
	}
</style>
<table class="table">
	<thead>
		<tr>
			<th width="5%"> ID </th>
			<th>Contact Name</th>
			<th>Attention To</th>
			<th>Address</th>
			<th>City</th>
			<th>Province</th>
			<th>Contact Numbers</th>
			<th width="120">Action</th>
		</tr>
	</thead>
	<tbody>
		<tr class="contact-list-item" ng-repeat="contact in contacts | googleSearchFilter:search | limitTo:100">
			<td>{[{ contact.id }]}</td>
			<td>{[{ contact.contact_name }]}</td>
			<td>{[{ contact.attention_to }]}</td>
			<td>{[{ contact.address_1 }]}</td>
			<td>{[{ contact.city }]}</td>
			<td>{[{ contact.province }]}</td>
			<td>
				<li ng-repeat="phone in contact.phones">
				<a href="" class="call-contact" data-number="{[{phone.number}]}" data-ext="{[{phone.phone_ext}]}">
					{[{phone.type}]}-{[{phone.number}]}({[{phone.phone_ext}]})
				</a>
				</li>
			</td>
			
			
			<td>
			
				<a href="/contacts/{[{ contact.id }]}/"> view</a>
			<span ng-show="{[{ contact.permission.can_change_contact }]}">
			 / 
				<a href="/contacts/edit/{[{ contact.id }]}/"> Edit</a>
			</span>
			<span ng-show="{[{ contact.permission.can_delete_contact }]}">
			 / 
				<a class="contact-delete" data-cid="{[{ contact.id }]}" href="">delete</a>
			</span>
			
			</td>
		</tr>
		

	</tbody>
</table>

<script type="text/javascript">


	
</script>