
<div class="panel panel-primary">
	<div class="panel-heading">
    	<h4>Payroll</h4>
  	</div>
  	<div class="panel-body">

	<table class="table" id="payroll-list">
			<thead>
				<tr>
					<th>Employee SIN</th>
					<th>Department</th>
					<th>Rate Of Pay</th>
					<th>Rate Of Pay Type</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% if not payroll == None %}
				
				<tr>
					<td>{{ payroll.sin }}</td>
					<td>{{ payroll.department }}</td>
					<td>{{ payroll.rate_of_pay }}</td>
					<td>{{ payroll.rate_of_pay_type }}</td>
					<td>
						<a href="/scomuser/payroll/{{ payroll.id }}/"> view </a> / 
						<a href="/scomuser/payroll/edit/{{ payroll.id }}/"> Edit </a> / 
						<a class="payroll-delete" data-payid="{{payroll.id}}" href="/scomuser/payroll/delete/"> delete </a>
					</td>
				</tr>
				{% else %}
				<tr>
					<td colspan=9>
						No payroll available
					</td>
				</tr>
				{% endif %}
				
			</tbody>
		</table>
	</div>
</DIV>
<script type="text/javascript">
(function(){
	$("a.add-payroll").on("click", function(e){
		e.preventDefault();
		url = $(this).attr('href'),
		console.log(url);
		mdal = $('#addModal');
		mdal.on("shown.bs.modal", function(){
			$("#addModal .modal-content").load(url);
			console.log(url);
		}).modal();
		return false;
	});

	$("#payroll-list a.payroll-delete").on("click", function(e){
		e.preventDefault();
		payroll_id = $(this).data("payid");

		$.ajax({
			type: "POST",
			url: "/scomuser/payroll/delete/",
			data: {
				'payroll_id': payroll_id
			},
			success: function (rdata) {
				$("#payroll-list a[data-payid='"+rdata+"']").closest("tr").remove()

			}
		})
	})

})(jQuery)

</script>