<div class="modal-header" style="text-align: center;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Change Password</h4>
</div>
<form class="form-horizontal" name="custom-designation" action="/scomuser/change-password/" method="post">{% csrf_token %}
<div class="modal-body">
    
    
        {% for field in password_change_form %}
        <div class="form-group">
            <div class="col-sm-4">
            {{ field.label_tag }}
            </div>
            <div class="col-sm-8">
                {{ field }}
            </div>
        </div>
        {% endfor %}
    
    
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Save changes</button>
</div>
</form>
<script type="text/javascript">
(function(){
    $("form[name='custom-designation']").on("submit", function(e){
        e.preventDefault();
        
        form_data = $(this).serialize();
        $.ajax({
            type: "POST",
            url: $(this).attr("action"),
            data: form_data,
            success: function(rdata) {
                $( "button.close-modal" ).trigger( "click" );
                if(rdata == 'success') {
                    alert("Your password has been changed successfully.")
                } else if(rdata == 'error') {
                    alert("Password do not match.")
                }

            }
        })

    })

})(jQuery)
    
</script>
