{% extends "base.html" %}

{% block content %}
<style type="text/css">

</style>

<div class="container-fluid shadow4 main-body" ng-app="userApp" ng-controller="UserController">

<section class="row">
	<div class="col-md-6">
		<input type='text' class="form-control" ng-model="search" ng-change="searchUser(search)" placeholder="Filter By Name">
	</div>
	
	
</section>

	<section class="row" id="user-list" >
		
		<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
		    	<h4>USER LIST</h4>
		  	</div>
		  	<div class="panel-body">
		  		{% include "scomuser/partials/user-list.html" %}
			</div>
		</div>

	</section>
<div id="delete-user-confirm" title="Do you want to delete?">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;">
  </span>This will delete the user from your system?</p>
</div>

{% include "modals/change-password-modal.html" %}

<script type="text/javascript">
(function(){
var userApp = angular.module("userApp", [], function ($interpolateProvider) {
        $interpolateProvider.startSymbol("{[{");
        $interpolateProvider.endSymbol("}]}");
});
	userApp.controller('UserController',['$scope', '$http', function ($scope, $http) {
	    $scope.init = function(){
	    	var url = "/scomuser/search/";
	    	$http({method: 'GET', url: url}).
	            success(function(data, status, headers, config){
	            	
	            $scope.allusers = data;
	            $scope.users = $scope.allusers;
	        });
	        
	        
	    }
	    $scope.init();
	    $scope.searchUser = function(q) {
	    	console.log(q);
	        if(q.length > 1) {
	            var url = "/scomuser/search/?q=" + q;
	            $http({method: 'GET', url: url}).
		            success(function(data, status, headers, config){
		            	console.log(data);
		            	$scope.users = data;
		        });
	            
	        } else {
	        	$scope.users = $scope.allusers;
	        }
	        
	    }
	}]);
})(jQuery)

</script>

</div>

{% endblock content %}