{% extends "base.html" %}

{% block content %}
<div class="container shadow4 main-body" ng-app="contactApp">
<section class="row ">
	
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-primary" ng-controller="ContactController">
			<div class="panel-heading">
		    	<h4>ADD CONTACT</h4>
		  	</div>
		  	<div class="panel-body">
			  	<form name="contact" action="/contacts/add/" method="POST" enctype="multipart/form-data">{% csrf_token %}
			  	
			  	{% include "contacts/partials/add-contact-form.html" %}
				</form>
			</div>
		</div>
	</div>
</section>
</div>

<script type="text/javascript">
var contactApp = angular.module("contactApp", [], function ($interpolateProvider) {
        $interpolateProvider.startSymbol("{[{");
        $interpolateProvider.endSymbol("}]}");
});
contactApp.controller('ContactController',['$scope', '$http', function ($scope, $http) {
	$scope.init = function(){
        
    }
    $scope.init();

}]);

</script>
{% endblock content %}
	