<form name="contact" action="/contacts/edit/basic/{{cid}}/" method="POST" enctype="multipart/form-data">{% csrf_token %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title" id="myModalLabel">Add Contact</h4>
</div>


<div class="modal-body">
	<table class="add-user-table">
	{% for fl in contact_basic_form %}
		<tr>
			<td>{{ fl.label_tag }}</td>
			<td>{{ fl.errors }}{{ fl }}</td>
		</tr>
	{% endfor %}
	</table>
</div>



<div class="modal-footer">
    <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Save changes</button>
</div>
</form>
<script type="text/javascript">
(function(){
	$("form[name='contact']").on("submit", function(e){
		e.preventDefault();
		form_data = $(this).serialize()
		var url = $(this).attr('action');
		console.log(form_data);
		console.log(url);
		$.ajax({
			type: "POST",
			url: url,
			data: form_data,
			success: function(rdata) {
                $( "button.close-modal" ).trigger( "click" );
                window.location.reload(false);
                // win = window.open("",'_blank');
                // win.location.href = "/contacts/edit/" + rdata + "/";

            }
		});

	})
})(jQuery)
</script>