{% extends "base.html" %}

{% block angular %}
	<script type="text/javascript" src="/statics/js/angular.min.js"></script>
	<script type="text/javascript" src="/statics/js/angular-route.min.js"></script>	
{% endblock angular %}

{% block content %}

<div class="container shadow4 main-body" ng-app="premierApp">
<section class="row">
	<div class="col-md-6">
		<input type='text' class="form-control" ng-model="search" placeholder="Filter By Item Number">
	</div>
</section>

<section class="row"  id="inventory-list">
	

	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
		    	<h4>Event Entry List</h4>
		  	</div>
		  	<div class="panel-body">
		  		<div ng-view></div>
			</div>
		</div>
	</div>

</section>
</div>

<script type="text/javascript">
premierApp.controller('EventEntryController',['$scope', '$http', 'EventEntryService', 'entries', function ($scope, $http, EventEntryService, entries) {
	console.log(entries);
	$scope.entries = entries;
    // $scope.init = function(){
    //     $http.get("/inventory/items/").success(function(data){
   	// 		console.log(data);       
    //       	$scope.items = data;
    //     })
    // }
    // $scope.init();
}]);

</script>

{% endblock content %}
	