{% extends "base.html" %}

{% block message %}
{% endblock message %}

{% block angular %}
	<script type="text/javascript" src="/statics/js/angular.min.js"></script>
	<script type="text/javascript" src="/statics/js/angular-route.min.js"></script>
{% endblock angular %}

{% block content %}
<div class="container shadow4 main-body" ng-app="premierApp">
<section class="row">
	<div class="col-md-6">
		<input type='text' class="form-control" ng-model="search" placeholder="Filter By Controller Name, Controller Id and Name">
	</div>
	
</section>
<section class="row" id="controller-list">
	
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
		    	<h3 class="panel-title">Controller List
		    	</h3>
		    	
		  	</div>
			<div class="panel-body">
				<div ng-view></div>
			</div>
		</div>
		
	</div> 

</section>
</div>

<script type="text/javascript">

premierApp.controller('EventController', ['$scope', '$http', 'EventService', 'controllers',  function ($scope, $http, EventService, controllers) {
	$scope.controllers = controllers;

    
}]);

</script>
{% endblock content %}
	